@import"_variables";


.loge-1{
  width: 40%;
}

.home{
  overflow-x: hidden;
}

.header {
  padding-bottom: 0px !important;
  @include pd(2);
  background-color: $primary;
  @include radius_corner(0,0,10,0);
  @include pdh(10);
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow:$shadow;

  nav {
    div>ul{
      margin-bottom: spacecount(0);
    }

    .menu_box{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .dropdown-item{
        p{
        line-height: 180%;
      }
      }
    }

    .dropdown-toggle{
      margin-right: .8em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .modal-backdrop{
      display: none;
    }

    .dropdown-menu{
      background-color:$light1;
      box-shadow: $shadow !important;      
      li{
        @include pdv(2);
        p{
          text-align: left;
          color:$primary;
        }

        a{
          &:hover{
            @include pdv(2);
            transition: all 0.2s;
            background: $light;
          }        
        }

      }
    }

    .menu_web_block{
      display: flex;
      .dropdown:nth-child(even){
        @include mgh(3);
      }
      .btn_close{
        display: none;
      }
    }

    .menu_moblie_block{
      display: none;
    }

    a {
      font-weight: bold;
      color:$light;
      p {
        color:$light;
        text-align: center;
        line-height: 120%;
        &:hover,&:focus,&:active{
          text-decoration: $style_init;
          color:$third;
        }
        span {
          font-size:0.2em;
          color:$light ;
          letter-spacing: 0.8em;
          &:hover,&:focus,&:active{
            text-decoration: $style_init;
            color:$third;
          }
        }
      }
    }

    .toggle-en{
      font-size: .2em;
    }
  }
}


footer {
  overflow:hidden;
  z-index: 2;
  display: contents;
  .footer_top {
    @include pd(3);
    @include pdh(7);
    // width: 100%;
    display: flex;
    justify-content:space-between;
    background: $gradient;
    align-items: flex-end;
    .footer_logo_wrapper {
      display: flex;
      align-items: flex-end;
      p{
        margin-top: -3em;
        font-weight: 900;
      }
      a{
        color:$primary;
        text-align: center;
      }
      .icon_block{
        display: flex;
        align-items: flex-end;
      }
    }
    .loge{
      margin-top: -60px;
    }
    .teca {
      @include width(11)
    }

    #twcaseal {
      position: relative;
      font-family: arial unicode ms;
      text-align: left;
      #twcad3 {
          position: absolute;
          left: 114px;
          top: 16px;
      } 
      #twcad1 {
        left: 77px;
        top: 34px;
        width: 50px;
        height: 11px;
        line-height: 11px;
        font-size: 11px;
        position: absolute;
        overflow: hidden;
        text-align: center;
        color: #ffffff;
        background: #000000;
      }
      #twcad2 {
          position: absolute;
          visibility: hidden;
          color: #ffffff;
          background: #006;
          padding: 5px;
          left: -10px;
          top: 50px;
          border: solid 1px #c0a080;
          width: 200px;
          font-size: 12px;
          text-align: left;
      }
    }
  }


  .footer_icon_wraper {
    justify-content: flex-end;
    li{
      margin-left:spacecount(5);
    .icon{
        background-color: $primary;
      }
    }
  }
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  background-color: $primary;
  @include pd(3);
  @include pdh(7);
  .copyright_wrap {
    p{
      color:$light;
    }
  }
  div {
    color: $light;
  }
  .footer_link {
    justify-content: flex-end;
    span{
      color:$light;
      @include pdh(5);
    }
  }
}


//media
@media screen and (max-width:1280px){
  .loge-1{
    width: 45%;
  }
}

@media screen and (max-width:960px){
  .loge-1{
    width: 70%;
  }


}

@media screen and (max-width:569px){
  .loge-1{
    width: 100%;
  }

  .dropdown {
    margin-bottom: 2em;
  }

  .header {
    nav {
      .menu_web_block{
        position: fixed;
        top:0;
        right:0;
        display: none;
        .menu_box {
          height: 100vh;
          background-color: $primary;
          padding-top:2em ;
          flex-direction: column;
          justify-content: flex-start;
          .dropdown-menu{
            width: 100%;
            .dropdown-item{
              white-space:normal;
            }
          }
        }
        .btn_close{
          display: block;
          position: fixed;
          top:0;
          left: 0;
          width: 20%;
          color: #fff; 
          box-shadow: $shadow-transparent; 
          border-radius: 0em;
          background-color: $transparent;
        }
      }

      .modal-backdrop{
        opacity: .3;
        z-index: -1;
      }

      .active{
        display: block;
        position: fixed;
        background-color: $primary;
        top:8%;
        left:0;
        padding-top: 2em;
      }   
      .menu_moblie_block{
        display: block;
        width: 20%;
        display: flex;
        justify-content: center; 
      }
      .iconreturn{
        transform: rotate(90deg);
        transition: all 0.3s linear;
      }
    }
  }

  footer {
    .footer_top{
      .footer_logo_wrapper {
        margin-bottom: spacecount(5);
        position: relative;
        padding-top:20px ;
        p{
          margin-top: -2.5em;
        }
        .loge_block{
          width: 100%;
        }
        .icon_block{
          margin-top: 3em;
          justify-content: center;
        }
      }
      .loge{
        width: 75%;
        margin-top: -50px;
      }
      .footer_icon_wraper {
        justify-content: center;
      }
    }
    .footer_bottom {
      flex-wrap:wrap-reverse;
      .copyright_wrap {
        p{
          font-size: 0.55rem;
          text-align: center;
        }
      }
      .footer_link{
        justify-content: center;
        margin-bottom: spacecount(3);
      }
    }
  }
}

@media screen and (max-width:600px){
  footer {
    .footer_top{
      .footer_logo_wrapper {
        justify-content: center;
      }
    }
  }
}

@media screen and (max-width:280px){
  footer{
    .loge{
      width: 60%;
    }
  }
}

