$primary:#003B80;
$second:#0F2C65;
$third:#F6A745;
$fourth:#1383BE;
$light:#fff;
$dark:#373737;
$light1:#F0F0F0;
$light2:#C6C3C3;
$light3:#8A8A8A;
$transparent: rgba(0, 0, 0, 0);
$transparent1: rgba(0, 0, 0, 0.5);
$gradient:linear-gradient(179.98deg, rgba(207, 207, 207, 0.978207) -20.79%, #CFCFCF -20.79%, #FFFFFF 95.68%);
$gradient2: linear-gradient(180deg, rgba(30, 30, 30, 0) 0%, rgba(42, 45, 49, 0.2) 46.88%, #3B424B 100%);
$shadow-inset: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
$shadow: 0px 5px 4px rgba(0, 0, 0, 0.15);
$shadow2:0px 2px 5px 2px rgba(172, 172, 172, 0.2);
$shadow3: 5px 5px 4px rgba(0, 0, 0, 0.1);
$shadow4: 0px 0px 10px rgba(0, 0, 0, 0.3);
$shadow-transparent:0px 0px 0px 0px rgba(172, 172, 172, 0);
$style_init:none;
$style_line:solid;
$widthsize :5%;
$baseLineH: 0.5em;
$baseLine: 0.4em;
$baseFont:1rem;
$baseSpace:0.28em;
$weightspace:50;
$baseradius:0.56em;
$borderspace:0.1em;


%init_css {
	margin: 0;
	padding: 0;
	border: 0;
}

%init_default{
	font:inherit;
	box-sizing: border-box; 
	border-collapse: collapse;
	border-spacing: 0;
	// display:block;
	font-family:"微軟正黑體", "Microsoft JhengHei", "新細明體","Trebuchet MS", "Arial", "Helvetica", "Verdana", "Noto Sans TC", "sans-serif";
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 600;
	text-align: center;
	color: $dark;
	font-size: 1.15rem;
	letter-spacing:0.1em;
	text-align: left;
}


%init_item {
	text-decoration: $style_init;
	list-style: $style_init;
	display:block;
	color: $light;
}

%flex_center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


//space
@function spacecount($count:1) {
	@if $count < 1 {
		$count:1
	}
	@return $baseSpace * $count; 
}

//border
@mixin border_style($border_line:0.1, $color:$primary) {
border: $style_line border_count($border_line) $color;
}

@function border_count($number:0.1) {
	@return $borderspace * $number; 
}

//pd
@mixin pd($level:1) {
	padding: count($level);
}

@mixin pdv($level:1) {
	padding-top: count($level);
	padding-bottom: count($level);
}

@mixin pdh($level:1) {
	padding-right: count($level);
	padding-left: count($level);
}

@function count($count:1) {
	@if $count < 1 {
		 $count:0
	}
	@return $baseSpace * $count; 
}

//mg
@mixin mg($level:1) {
	margin: count($level);
}

@mixin mgv($level:1) {
	margin-top: count($level);
	margin-bottom: count($level);
}

@mixin mgh($level:1) {
	margin-right: count($level);
	margin-left: count($level);
}

//width
@mixin width($level:1) {
	width: widthcount($level);
}

@function widthcount($count:1) {
	@if $count < 1 {
		$count:1
	}
	@return $widthsize * $count; 
}

//radius
@mixin radius($level:1) {
	border-radius: radiuscount($level);
}

@function radiuscount($level:1) {
	@return $baseradius * $level; 
}

//radius_corner
@mixin radius_corner($level_1:0,$level_2:0,$level_3:0,$level_4:0) {
	border-radius: radiuscount($level_1) radiuscount($level_2) radiuscount($level_3) radiuscount($level_4);
}

@function radiuscount($level:1) {
	@return $baseradius * $level; 
}

// //radiusLine
// @mixin radiusline($mixin_color: $primary, $mixin_line:$baseline , $mixin_radius: $baseradius) {
//     border:  $baseline $mixin_color $style_line;
//     border-radius: $mixin_radius;
// }


// font
@mixin font($size){
	line-height:line($size);
	font-size:$size * $baseFont;
	font-weight: weight($size);
	letter-spacing:space($size);
	text-align: justify;
}

//text_weight
@function weight($count){
	@if $count <= 1 {
		@return $count*320;
	}
	@else if $count < 1.5 {
		@return $count*460 ;
	}
	@return $count*500;
}



// space
@function space($count){
	@if $count <= 1 {
		@return $baseLine*0.2;
	}
	@else if $count < 1.5 {
		@return $baseLine*0.05;
	}
	@return $baseLine*0.2;
}



// line
@function line($count){
	@if $count <= 1 {
		@return $count *1.5;
	}
	@else if $count < 1.4 {
		@return $count *1.55;
	}
	@else if $count < 1.5 {
		@return $count *1.58;
	}
	@return $count *1;
}


