@import"_variables";

// content
.caption_block {
	.caption_title,.content_caption {
		color: $dark;
  }
}



.content_wrap {
  padding-bottom:spacecount(15) ;
  .feature_img_link {
    width: 100%;
  }
}

.feature_img_block {
  display: inline-block;
  position: relative;
  text-align: center;
  transition: all 0.3s 0s ease-in;
  overflow: hidden;
  flex-direction: row;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-image: url(../imges/sitmap/sitmap1.png);
  background-repeat: no-repeat;
  object-fit: cover;
  &::after {
    z-index: 2;
    content: "";
    background: $gradient2;
    width: inherit;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s ease-in;
  }
  &:hover::after {
    opacity: 0%;
  }
}




//media
@media screen and (max-width:1280px){
  
}

@media screen and (max-width:1140px){

}

@media screen and (max-width:912px) and (min-width:768px){
  .feature_img_block {
    background-position:0px -150px;
  }
}

@media screen and (max-width:768px){

}

@media screen and (max-width:569px){
  .style2_wrap {
    .caption_block {
      h2 {
        letter-spacing:0.01em;
      }
    }
  }
}

@media screen and (max-width:375px){
  .feature_img_block {
    background-position:-80px 0px;
  }
}