@charset "UTF-8";
#freetrial .main_container {
  background: url(../imges_all/page_bgm_left.png) no-repeat;
  background-position: 0% 60%;
}

.header_wrap .caption_block {
  height: 250px;
  width: 100%;
  padding-right: 2.8em;
  position: relative;
}
.header_wrap .caption_block h2 {
  color: #1383BE;
}
.header_wrap .caption_block p {
  padding-top: 0.84em;
  padding-bottom: 0.84em;
}
.header_wrap .caption_block .about_bgm {
  position: absolute;
  left: -5%;
  top: -25%;
}

.software_wrap .software_top span {
  font-weight: 700;
  color: #1383BE;
  padding-right: 0.56em;
  padding-left: 0.56em;
  font-size: 1.1em;
  border-bottom: #1383BE 0.1em solid;
}
.software_wrap .software_top p:nth-child(3) {
  font-size: 0.8em;
  margin-top: 0.56em;
}
.software_wrap .software_top p:nth-child(3) span {
  color: #8A8A8A;
  border-bottom: #1383BE 0em solid;
}

.step_block {
  padding-top: 1.4em;
  padding-bottom: 1.4em;
}
.step_block .head_block {
  background-color: #F0F0F0;
  border-radius: 11.2em;
  padding: 0.56em;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.step_block .head_block .step_title {
  padding-right: 0.84em;
  padding-left: 0.84em;
}
.step_block .head_block .step_title::after {
  content: "⇒";
}
.step_block .head_block h5 {
  color: #003B80;
  font-weight: 900;
}

.content_block {
  margin-left: 1.4em;
  background-color: #003B80;
  padding: 1.4em;
  padding: 2.8em 1.4em 1.4em 1.4em;
  border-radius: 0em 2.8em 0em 2.8em;
  margin-top: -1.5em;
  display: flex;
}
.content_block .content_item {
  padding-right: 1.4em;
  padding-bottom: 2.8em;
}
.content_block .content_item p {
  color: #fff;
}
.content_block .contact_content p {
  color: #003B80;
  font-weight: 900;
}

.contact_inf_wrap .contact_title {
  border-radius: 0em 2.8em 0em 0em;
}
.contact_inf_wrap h4 {
  margin: 0;
  color: #fff;
}
.contact_inf_wrap ul {
  padding-left: 3.36em;
  padding-right: 1.4em;
  border-radius: 0em 2.8em 0em 2.8em;
}
.contact_inf_wrap p {
  margin-bottom: 0.28em;
}

.magnifyingImg {
  position: fixed;
  transform: scale(1.1);
  top: 20%;
  right: 15%;
  z-index: 2;
}

.cover {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
}

@media screen and (max-width: 1200px) {
  .content_block {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .contact_inf_wrap ul {
    padding-left: 0em;
  }
}
@media screen and (max-width: 569px) {
  #freetrialItemone_view .content_block {
    flex-direction: column;
  }
  #freetrialItemone_view .content_block .img_item {
    display: flex;
    justify-content: center;
  }
  #freetrialItemone_view .step_block .head_block h5 {
    letter-spacing: 0em;
  }
  #freetrialItemone_view .step_block .step_title::after {
    content: "";
  }
  .content_block {
    margin-left: 0.28em;
  }
  .contact_inf_wrap ul {
    padding-left: 0.56em;
    padding-right: 0.56em;
    border-radius: 0em 0em 0em 2.8em;
  }
  .contact_inf_wrap ul p {
    word-break: break-all;
  }
}/*# sourceMappingURL=freetrial.css.map */