@charset "UTF-8";
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: inherit;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "Trebuchet MS", "Arial", "Helvetica", "Verdana", "Noto Sans TC", "sans-serif";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  text-align: center;
  color: #373737;
  font-size: 1.15rem;
  letter-spacing: 0.1em;
  text-align: left;
}

li, a, button {
  text-decoration: none;
  list-style: none;
  display: block;
  color: #fff;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: inherit;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "Trebuchet MS", "Arial", "Helvetica", "Verdana", "Noto Sans TC", "sans-serif";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  text-align: center;
  color: #373737;
  font-size: 1.15rem;
  letter-spacing: 0.1em;
  text-align: left;
}

li, a, button {
  text-decoration: none;
  list-style: none;
  display: block;
  color: #fff;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 100%;
  margin: 0;
  color: #fff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5.6em;
  padding-right: 1.12em;
  padding-left: 1.12em;
  padding-top: 0.56em;
  padding-bottom: 0.56em;
}

.btn {
  padding-right: 1.12em;
  padding-left: 1.12em;
  padding-top: 0.56em;
  padding-bottom: 0.56em;
  color: #fff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5.6em;
  display: flex;
  justify-content: space-between;
}

.btn_primary {
  background-color: #1383BE;
}
.btn_primary:hover {
  background-color: #F6A745;
}
.btn_primary:active {
  background-color: #F6A745;
}

.btn_second {
  background-color: #F6A745;
}
.btn_second:hover {
  background-color: #1383BE;
}
.btn_second:active {
  background-color: #1383BE;
}

.btn_third {
  background-color: #F0F0F0;
  color: #003B80;
}

.point {
  position: fixed;
  bottom: 5%;
  right: 5%;
  z-index: 1;
  color: #1383BE;
  font-size: 3em;
  width: 80px;
  height: 80px;
  background-color: #1383BE;
  border-radius: 56em;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15);
}
.point::before {
  content: "";
  border: 20px solid;
  border-color: transparent transparent #fff;
  width: 30px;
  height: 30px;
  display: block;
  margin-left: 0.35em;
}
.point::after {
  content: "TOP";
  color: #fff;
  font-size: 0.4em;
  margin-left: 0.7em;
  display: block;
  margin-top: 0.2em;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: inherit;
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體", "Microsoft JhengHei", "新細明體", "Trebuchet MS", "Arial", "Helvetica", "Verdana", "Noto Sans TC", "sans-serif";
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 600;
  text-align: center;
  color: #373737;
  font-size: 1.15rem;
  letter-spacing: 0.1em;
  text-align: left;
}

li, a, button {
  text-decoration: none;
  list-style: none;
  display: block;
  color: #fff;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loge-1 {
  width: 40%;
}

.header {
  padding-bottom: 0px !important;
  padding: 0.56em;
  background-color: #003B80;
  border-radius: 0em 0em 5.6em 0em;
  padding-right: 2.8em;
  padding-left: 2.8em;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15);
}
.header nav div > ul {
  margin-bottom: 0.28em;
}
.header nav .menu_box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header nav .menu_box .dropdown-item p {
  line-height: 180%;
}
.header nav .dropdown-toggle {
  margin-right: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header nav .modal-backdrop {
  display: none;
}
.header nav .dropdown-menu {
  background-color: #F0F0F0;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15) !important;
}
.header nav .dropdown-menu li {
  padding-top: 0.56em;
  padding-bottom: 0.56em;
}
.header nav .dropdown-menu li p {
  text-align: left;
  color: #003B80;
}
.header nav .dropdown-menu li a:hover {
  padding-top: 0.56em;
  padding-bottom: 0.56em;
  transition: all 0.2s;
  background: #fff;
}
.header nav .menu_web_block {
  display: flex;
}
.header nav .menu_web_block .dropdown:nth-child(even) {
  margin-right: 0.84em;
  margin-left: 0.84em;
}
.header nav .menu_web_block .btn_close {
  display: none;
}
.header nav .menu_moblie_block {
  display: none;
}
.header nav a {
  font-weight: bold;
  color: #fff;
}
.header nav a p {
  color: #fff;
  text-align: center;
  line-height: 120%;
}
.header nav a p:hover, .header nav a p:focus, .header nav a p:active {
  text-decoration: none;
  color: #F6A745;
}
.header nav a p span {
  font-size: 0.2em;
  color: #fff;
  letter-spacing: 0.8em;
}
.header nav a p span:hover, .header nav a p span:focus, .header nav a p span:active {
  text-decoration: none;
  color: #F6A745;
}
.header nav .toggle-en {
  font-size: 0.5em;
  letter-spacing: 0.2em;
}

footer {
  overflow: hidden;
  z-index: 2;
  display: contents;
}
footer .footer_top {
  padding: 0.84em;
  padding-right: 1.96em;
  padding-left: 1.96em;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(179.98deg, rgba(207, 207, 207, 0.978207) -20.79%, #CFCFCF -20.79%, #FFFFFF 95.68%);
  align-items: flex-end;
}
footer .footer_top .footer_logo_wrapper {
  display: flex;
  align-items: flex-end;
}
footer .footer_top .footer_logo_wrapper p {
  margin-top: -3em;
  font-weight: 900;
}
footer .footer_top .footer_logo_wrapper a {
  color: #003B80;
  text-align: center;
}
footer .footer_top .footer_logo_wrapper .icon_block {
  display: flex;
  align-items: flex-end;
}
footer .footer_top .loge {
  margin-top: -60px;
}
footer .footer_top .teca {
  width: 55%;
}
footer .footer_top #twcaseal {
  position: relative;
  font-family: arial unicode ms;
  text-align: left;
}
footer .footer_top #twcaseal #twcad3 {
  position: absolute;
  left: 114px;
  top: 16px;
}
footer .footer_top #twcaseal #twcad1 {
  left: 69px;
  top: 34px;
  width: 65px;
  height: 11px;
  line-height: 11px;
  font-size: 11px;
  position: absolute;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
  background: #000000;
}
footer .footer_top #twcaseal #twcad2 {
  position: absolute;
  visibility: hidden;
  color: #ffffff;
  background: #006;
  padding: 5px;
  left: -10px;
  top: 50px;
  border: solid 1px #c0a080;
  width: 200px;
  font-size: 12px;
  text-align: left;
}
footer .footer_icon_wraper {
  justify-content: flex-end;
}
footer .footer_icon_wraper li {
  margin-left: 1.4em;
}
footer .footer_icon_wraper li .icon {
  background-color: #003B80;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  background-color: #003B80;
  padding: 0.84em;
  padding-right: 1.96em;
  padding-left: 1.96em;
}
.footer_bottom .copyright_wrap p {
  color: #fff;
}
.footer_bottom div {
  color: #fff;
}
.footer_bottom .footer_link {
  justify-content: flex-end;
}
.footer_bottom .footer_link span {
  color: #fff;
  padding-right: 1.4em;
  padding-left: 1.4em;
}

@media screen and (max-width: 1280px) {
  .loge-1 {
    width: 45%;
  }
}
@media screen and (max-width: 960px) {
  .loge-1 {
    width: 65%;
  }
}
@media screen and (max-width: 600px) {
  .header nav .dropdown-toggle {
    margin-right: 0em;
  }
  .control_click {
    text-align: center;
  }
  footer .footer_top .footer_logo_wrapper {
    justify-content: center;
  }
  .loge_text {
    font-size: 1.4em;
  }
}
@media screen and (max-width: 569px) {
  #twcad1 {
    width: 70px;
  }
  .loge-1 {
    width: 100%;
  }
  .dropdown {
    margin-bottom: 2em;
  }
  .header nav .menu_web_block {
    position: fixed;
    top: 0;
    right: 0;
    display: none;
  }
  .header nav .menu_web_block .menu_box {
    height: 100vh;
    background-color: #003B80;
    padding-top: 2em;
    flex-direction: column;
    justify-content: flex-start;
  }
  .header nav .menu_web_block .menu_box .dropdown-menu {
    width: 100%;
  }
  .header nav .menu_web_block .menu_box .dropdown-menu .dropdown-item {
    white-space: normal;
  }
  .header nav .menu_web_block .btn_close {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    color: #fff;
    box-shadow: 0px 0px 0px 0px rgba(172, 172, 172, 0);
    border-radius: 0em;
    background-color: rgba(0, 0, 0, 0);
  }
  .header nav .modal-backdrop {
    opacity: 0.3;
    z-index: -1;
  }
  .header nav .active {
    display: block;
    position: fixed;
    background-color: #003B80;
    top: 8%;
    left: 0;
    padding-top: 2em;
  }
  .header nav .menu_moblie_block {
    display: block;
    width: 20%;
    display: flex;
    justify-content: center;
  }
  .header nav .iconreturn {
    transform: rotate(90deg);
    transition: all 0.3s linear;
  }
  footer .footer_top .footer_logo_wrapper {
    margin-bottom: 1.4em;
    position: relative;
    padding-top: 20px;
  }
  footer .footer_top .footer_logo_wrapper p {
    margin-top: -2.5em;
  }
  footer .footer_top .footer_logo_wrapper .loge_block {
    width: 100%;
  }
  footer .footer_top .footer_logo_wrapper .icon_block {
    margin-top: 3em;
    justify-content: center;
  }
  footer .footer_top .loge {
    width: 75%;
    margin-top: -50px;
  }
  footer .footer_top .footer_icon_wraper {
    justify-content: center;
  }
  footer .footer_bottom {
    flex-wrap: wrap-reverse;
  }
  footer .footer_bottom .copyright_wrap p {
    font-size: 0.55rem;
    text-align: center;
  }
  footer .footer_bottom .footer_link {
    justify-content: center;
    margin-bottom: 0.84em;
  }
}
@media screen and (max-width: 320px) {
  .loge_text {
    font-size: 1em;
  }
}
@media screen and (max-width: 280px) {
  .header {
    padding-right: 2.24em;
    padding-left: 2.24em;
  }
  footer .loge {
    width: 60%;
  }
}
main {
  width: 100%;
  min-width: 320px;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.header_container {
  padding-top: 2.8em;
}
.header_container .changeicon_wrap {
  margin-top: -1em;
}

.space_v {
  padding-top: 8.4em;
  padding-bottom: 8.4em;
}

.space_s_h {
  padding-right: 2.8em;
  padding-left: 2.8em;
}

a {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 320;
  letter-spacing: 0.08em;
  text-align: justify;
  font-weight: 900;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  color: #F6A745;
}

li {
  background-color: rgba(0, 0, 0, 0);
}

p {
  line-height: 1.705;
  font-size: 1.1rem;
  font-weight: 506;
  letter-spacing: 0.02em;
  text-align: justify;
}

img {
  max-width: 100%;
}

h1 {
  line-height: 2;
  font-size: 2rem;
  font-weight: 1000;
  letter-spacing: 0.08em;
  text-align: justify;
}

h2 {
  line-height: 1.6;
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 0.08em;
  text-align: justify;
}

h3 {
  line-height: 1.6;
  font-size: 1.6rem;
  font-weight: 800;
  letter-spacing: 0.08em;
  text-align: justify;
}

h4 {
  line-height: 1.9375;
  font-size: 1.25rem;
  font-weight: 575;
  letter-spacing: 0.02em;
  text-align: justify;
}

h5 {
  line-height: 1.705;
  font-size: 1.1rem;
  font-weight: 506;
  letter-spacing: 0.02em;
  text-align: justify;
}

span {
  line-height: 1.705;
  font-size: 1.1rem;
  font-weight: 506;
  letter-spacing: 0.02em;
  text-align: justify;
}

.icon {
  max-width: 40px;
  padding: 0.28em;
  border-radius: 28em;
}

.item_img {
  height: 100%;
  width: 100%;
  padding-bottom: 1em;
  display: inline-block;
}

.btn_icon {
  padding-left: 4.2em;
}

.caption_block_g {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.caption_block_g .caption_title {
  padding-bottom: 0.28em;
  color: #003B80;
}

.caption_content {
  margin-bottom: 0.56em;
}

.desc_wrap {
  display: flex;
  align-items: center;
}
.desc_wrap .caption_block h2 {
  letter-spacing: 0em;
  display: flex;
}
.desc_wrap .caption_block p {
  padding-top: 0.84em;
  padding-bottom: 0.84em;
  text-indent: 2.2em;
}

.item_block_g h4 {
  padding-bottom: 0.84em;
  flex-direction: column;
}

.header_wrap {
  padding-top: 5.6em;
}

.caption_block {
  position: relative;
  margin-bottom: 0.84em;
}
.caption_block .caption_title, .caption_block .content_caption {
  color: #003B80;
  z-index: 1;
  transform: rotate(0deg);
}
.caption_block .content_caption::before {
  content: "  ";
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  width: 60px;
  height: 60px;
  border-radius: 28em;
  background-color: #F6A745;
}
.caption_block .content_caption::before span {
  display: none;
}

.content_item {
  justify-content: center;
  padding-bottom: 1.4em;
}
.content_item .content_title {
  color: #003B80;
  letter-spacing: 0em;
  margin-bottom: 0.56em;
}

.product_wrap {
  margin-bottom: 2.8em;
}
.product_wrap .content_body {
  margin-bottom: 3.64em;
}

.changeicon_wrap {
  margin-top: -1em;
  transform: rotate(0deg);
}
.changeicon_wrap img:first-child {
  margin-right: 0.84em;
  transform: rotate(180deg);
}
.changeicon_wrap img {
  background-color: #003B80;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15);
  border-radius: 11.2em;
  width: 50px;
  height: 50px;
}

.line_style {
  padding: 1.12em;
  border-radius: 0em 2.8em 0em 2.8em;
  border: solid 0.12em #003B80;
  transform: translate(-10px, -10px);
  height: inherit;
}

.breadcrumb_wrap {
  padding-bottom: 2.8em;
  display: flex;
  align-items: center;
}
.breadcrumb_wrap a {
  color: #373737;
}
.breadcrumb_wrap a:hover {
  color: #1383BE;
}
.breadcrumb_wrap a:active {
  color: #F6A745;
}
.breadcrumb_wrap .active {
  color: #F6A745;
}

.header_container_style .caption_block {
  height: 100%;
  width: 100%;
  padding-top: 4.2em;
  padding-left: 2.8em;
  background: url(../imges/about/about-bgm.png) no-repeat;
}
.header_container_style .caption_block h2 {
  color: #1383BE;
}
.header_container_style .caption_block h2 span {
  font-size: inherit;
}
.header_container_style .caption_block p {
  padding-top: 0.84em;
  padding-bottom: 0.84em;
}

.protfolio_container {
  display: block;
  overflow: hidden;
}
.protfolio_container .caption_block {
  padding-bottom: 0.84em;
}
.protfolio_container .protfolio_img_wrap .img_wrap .protfolio_img_block {
  margin-bottom: 0.8em;
}
.protfolio_container .protfolio_img_wrap .changeicon_wrap {
  transform-origin: 0 0;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.caption_block {
  position: relative;
}
.caption_block .caption_title, .caption_block .content_caption1 .active {
  transform: rotate(0deg);
}
.caption_block .content_caption1 .active::before {
  content: "  ";
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: -1;
  position: absolute;
  margin-top: -0.5em;
  margin-left: -0.5em;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 28em;
  background-color: #1383BE;
}

.protfolio_view .img_block, .slipsilder .img_block {
  position: relative;
}
.protfolio_view .img_block img, .slipsilder .img_block img {
  width: 100%;
}
.protfolio_view .img_block::after, .slipsilder .img_block::after {
  content: "";
  background-color: #373737;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in;
}
.protfolio_view .img_block:hover::after, .slipsilder .img_block:hover::after {
  opacity: 0;
}

.content_block .content_item_box.hide .item_head .change_icon::after {
  width: 2px;
}
.content_block .content_item_box.hide .item_body {
  display: none;
}
.content_block .content_item_box {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4em;
}
.content_block .content_item_box .item_head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
  padding: 0.56em;
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
}
.content_block .content_item_box .item_head .change_icon {
  color: #F6A745;
  display: inline-block;
  position: absolute;
  top: 40%;
  right: 2%;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.content_block .content_item_box .item_head .change_icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.content_block .content_item_box .item_head .change_icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 0px;
  height: 10px;
  background: currentColor;
}
.content_block .content_item_box .item_head p {
  font-weight: 900;
}
.content_block .content_item_box .item_head .item_title_block {
  display: flex;
  align-items: center;
}
.content_block .content_item_box .item_head .item_title_block .content_label {
  color: #373737;
}
.content_block .content_item_box .item_body {
  background-color: #F0F0F0;
  padding: 1.4em;
  display: block;
  word-wrap: break-word;
}
.content_block .content_item_box .item_body a {
  padding-top: 0.56em;
  padding-bottom: 0.56em;
  color: #373737;
}
.content_block .content_item_box .item_body a:hover {
  color: #F6A745;
}

@media screen and (max-width: 1280px) {
  .header_container .changeicon_wrap {
    margin-top: -1em;
  }
}
@media screen and (max-width: 768px) {
  .header_container_style .caption_block {
    padding-left: 0.28em;
  }
  .content_word {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
@media screen and (max-width: 569px) {
  .header_container {
    padding-top: 2em;
    position: relative;
  }
  .header_container .changeicon_wrap {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: flex-end;
  }
  .header_container_style .caption_block h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1em;
  }
  .header_container_style .caption_block h2 span {
    font-size: 1.15rem !important;
    width: 100%;
    text-align: center;
  }
  .header_container_style .caption_block h2 .decorate {
    display: none;
  }
}
.contact_inf_wrap {
  padding: 0;
}
.contact_inf_wrap .contact_title {
  background-color: #C6C3C3;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.56em;
}
.contact_inf_wrap ul {
  background-color: #F0F0F0;
  padding: 0.56em;
}
.contact_inf_wrap ul li {
  margin-bottom: 0.84em;
}

.top_container {
  padding-bottom: 11.2em;
}

#skylineitemtwoView .content_caption {
  flex-direction: column;
  align-items: center;
}
#skylineitemtwoView .content_caption:before {
  margin-left: 0em;
  margin-top: -1em;
}
#skylineitemtwoView .content_caption .caption_title {
  margin-left: 0.336em;
}
#skylineitemtwoView .content_caption .caption_title h2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#skylineitemtwoView .content_caption .content_caption::before {
  margin-top: -0.5em;
  margin-left: 1.2em;
}
#skylineitemtwoView .content_caption .changeicon_wrap2 {
  display: flex;
  text-align: center;
}
#skylineitemtwoView .content_caption .changeicon_wrap2 a:nth-child(1) {
  transform: rotate(180deg);
}

.software_wrap .software_top {
  margin-bottom: 2.8em;
}
.software_wrap .software_top .software_title {
  color: #003B80;
}

.card_block {
  padding: 1.4em;
}
.card_block .caption_block {
  padding: 0.84em;
  background-color: #F0F0F0;
  border-radius: 0em 0em 5.6em 0em;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15);
}
.card_block .caption_block .caption_title {
  text-align: center;
}

.box_wrap .box_block {
  margin-top: 5.6em;
  margin-bottom: 5.6em;
}

.changeicon_wrap img {
  width: 35px;
  height: 35px;
}

@media screen and (max-width: 1280px) {
  .protfolio_container .changeicon_wrap {
    padding-left: 1.4em;
  }
}
@media screen and (max-width: 1140px) {
  .space_v {
    padding-top: 5.04em;
    padding-bottom: 5.04em;
  }
  p {
    line-height: 1.6275;
    font-size: 1.05rem;
    font-weight: 483;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  h1 {
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 750;
    letter-spacing: 0.08em;
    text-align: justify;
  }
  h2 {
    line-height: 2.212;
    font-size: 1.4rem;
    font-weight: 644;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  h3 {
    line-height: 2.015;
    font-size: 1.3rem;
    font-weight: 598;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  h4 {
    line-height: 1.86;
    font-size: 1.2rem;
    font-weight: 552;
    letter-spacing: 0.02em;
    text-align: justify;
  }
}
@media screen and (max-width: 960px) {
  .protfolio_container {
    margin-top: 0.28em;
  }
  .protfolio_container .protfolio_img_wrap .changeicon_wrap {
    transform: scale(0.5);
    margin-top: -0.5em;
  }
  .product_wrap .content_body {
    margin-bottom: 4.2em;
  }
}
@media screen and (max-width: 768px) {
  p, a {
    line-height: 1.86;
    font-size: 1.2rem;
    font-weight: 552;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  h1 {
    line-height: 1.8;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: 0.08em;
    text-align: justify;
  }
  h2 {
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 750;
    letter-spacing: 0.08em;
    text-align: justify;
  }
  h3 {
    line-height: 2.212;
    font-size: 1.4rem;
    font-weight: 644;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  h4 {
    line-height: 2.0925;
    font-size: 1.35rem;
    font-weight: 621;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  h5 {
    line-height: 2.015;
    font-size: 1.3rem;
    font-weight: 598;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  span {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 320;
    letter-spacing: 0.08em;
    text-align: justify;
  }
  .caption_block .content_caption::before {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 569px) {
  p {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 320;
    letter-spacing: 0.08em;
    text-align: justify;
  }
  h1 {
    line-height: 2.212;
    font-size: 1.4rem;
    font-weight: 644;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  h2 {
    line-height: 1.9375;
    font-size: 1.25rem;
    font-weight: 575;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  h3, h4 {
    line-height: 1.86;
    font-size: 1.2rem;
    font-weight: 552;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  h5 {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 320;
    letter-spacing: 0.08em;
    text-align: justify;
  }
  .header_container {
    padding-bottom: 2.8em;
  }
  .space_v {
    padding-top: 2.8em;
    padding-bottom: 2.8em;
  }
  .space_s_h {
    padding-right: 1.4em;
    padding-left: 1.4em;
  }
  .product_wrap {
    margin-bottom: 2.8em;
  }
  .product_wrap .content_body {
    margin-bottom: 2.24em;
  }
  .top_container {
    padding-bottom: 5.6em;
  }
  #skylineitemtwoView .caption_block .content_caption::before {
    left: 20%;
  }
  #skylineitemtwoView .caption_block .content_caption {
    flex-direction: row;
    justify-content: center;
  }
  #skylineitemtwoView .caption_block .content_caption .caption_title {
    margin-left: 0.336em;
  }
  #skylineitemtwoView .caption_block .content_caption .caption_title h2 {
    flex-direction: row;
  }
  .desc_wrap .caption_block h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .caption_block_g .caption_title {
    letter-spacing: 0em;
    text-align: center;
  }
  .products_content .products_introduce:first-child .content_item div {
    justify-content: center;
  }
  .content_item {
    padding-bottom: 0.56em;
  }
  .card_block {
    padding: 0.84em;
  }
  .protfolio_container {
    margin-top: 0.28em;
  }
  .protfolio_container .caption_block {
    padding-bottom: 0.84em;
  }
  .protfolio_container .protfolio_img_wrap {
    padding-top: 0.28em;
    padding-right: 1.4em;
    padding-left: 1.4em;
  }
  .protfolio_container .protfolio_img_wrap .img_wrap .protfolio_img_block {
    margin-right: 0em;
    margin-left: 0em;
    padding-right: 0.28em;
    padding-left: 0.28em;
  }
  .caption_block .content_caption1 .active::before {
    left: 30%;
  }
  .btn_icon {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .content_item .content_title {
    text-align: center;
  }
}
@media screen and (max-width: 280px) {
  .caption_content {
    margin-bottom: 0.56em;
  }
  p, a {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 320;
    letter-spacing: 0.08em;
    text-align: justify;
  }
  h1 {
    line-height: 1.891;
    font-size: 1.22rem;
    font-weight: 561.2;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  h2 {
    line-height: 1.86;
    font-size: 1.2rem;
    font-weight: 552;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  h3 {
    line-height: 1.7825;
    font-size: 1.15rem;
    font-weight: 529;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  h4 {
    line-height: 1.705;
    font-size: 1.1rem;
    font-weight: 506;
    letter-spacing: 0.02em;
    text-align: justify;
  }
  h5 {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 320;
    letter-spacing: 0.08em;
    text-align: justify;
  }
  span {
    line-height: 1.5;
    font-size: 1rem;
    font-weight: 320;
    letter-spacing: 0.08em;
    text-align: justify;
  }
}/*# sourceMappingURL=main.css.map */