@charset "UTF-8";
.protfolio_view .card_block a, .protfolio_view .box_block a {
  color: #003B80;
  outline: 0;
}
.protfolio_view .top_caption {
  position: relative;
}
.protfolio_view .top_caption::before {
  position: absolute;
  border-radius: 2.8em 0em 2.8em 0em;
  box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.15);
  content: "";
  width: 100px;
  height: 100px;
  bottom: 10%;
  background-color: #F0F0F0;
}
.protfolio_view .caption_block {
  height: 200px;
}
.protfolio_view .caption_title {
  color: #003B80;
}
.protfolio_view .content_bottom p {
  color: #373737;
}
.protfolio_view .box_wrap p {
  color: #373737;
}
.protfolio_view .card_container {
  height: 600px;
  position: relative;
}
.protfolio_view .card_container .card_wrap {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
}
.protfolio_view .card_container .card_wrap img {
  width: 100%;
}
.protfolio_view .box_container {
  background: url(../imges/protfoliotopfive/protfolio_bgm.png) no-repeat;
  background-size: contain;
  position: relative;
  margin-top: -5em;
}
.protfolio_view .box_container .box_content .contnet_text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.56em;
}
.protfolio_view .box_container .box_block:nth-child(3) .box_content {
  position: relative;
}
.protfolio_view .box_container .box_block:nth-child(3) .box_content::after {
  z-index: -1;
  top: -30%;
  left: -20%;
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #F0F0F0;
  border-radius: 28em;
}
.protfolio_view .box_container .box_block .link .contnet_text:hover {
  color: #F6A745;
}
.protfolio_view .box_container .box_block .link .contnet_text::after {
  content: "⇢";
  margin-left: 0.28em;
}
.protfolio_view .box_container .decorate_r {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: -1;
}
.protfolio_view .box_container .decorate_l {
  position: absolute;
  bottom: 20%;
  left: 0%;
  z-index: -1;
}
.protfolio_view .content_word {
  display: block;
}

@media screen and (max-width: 1024px) {
  .header_container {
    padding-top: 5em;
  }
}
@media screen and (max-width: 960px) {
  .protfolio_view .caption_block {
    height: 250px;
  }
  .protfolio_view .card_container {
    display: block;
  }
  .protfolio_view .box_container .decorate_r {
    top: 25%;
    opacity: 0.3;
  }
  .protfolio_view .box_container .decorate_l {
    bottom: 15%;
    opacity: 0.3;
  }
}
@media screen and (max-width: 596px) {
  #protfoliotopfive_view .card_container {
    display: none;
  }
}
@media screen and (max-width: 596px) {
  #protfoliotopfive_view .top_caption::before {
    border-radius: 1.12em 0em 1.12em 0em;
    width: 50px;
    height: 50px;
  }
  #protfoliotopfive_view .card_container {
    display: none;
  }
  #protfoliotopfive_view .box_container {
    margin-top: 0em;
  }
  #protfoliotopfive_view .box_container .box_wrap .box_block {
    margin-top: 2.24em;
    margin-bottom: 2.24em;
  }
  #protfoliotopfive_view .box_container .box_wrap .box_block:nth-child(odd) a {
    display: flex;
    flex-direction: column-reverse;
  }
  #protfoliotopfive_view .box_container .box_wrap .box_block span {
    display: flex;
    justify-content: center;
  }
  #protfoliotopfive_view .box_container .box_wrap .box_block .contnet_text {
    text-align: center;
    margin-bottom: 0.84em;
  }
  .header_container {
    padding-top: 7em;
  }
  .header_container .changeicon_wrap img {
    display: none;
  }
}/*# sourceMappingURL=protfolio.css.map */