<footer>
  <div class="row  footer_top">
    <div class="col-lg-6 col-xs-12 col-md-7 footer_logo_wrapper">
      <div class="row d-flex">
        <div class="col-lg-6 col-md-7 col-12 col-xs-12 loge_block">
          <a  href="/" target="_blank" rel="noopener noreferrer">
            <img class="loge" src="../assets/imges_all/geo3dearth_logo1.png" alt="geo3dearthlogo" >
            <p>Geo 3D Earth</p>
          </a>
        </div>
        <div class="col-lg-4 col-md-5 col-4 icon_block">
          <img class="teca_icon" src="../assets/imges_all/teca.png" alt="teca" >
        </div>
      </div>
    </div>
    <ul class="col-lg-2 col-xs-12  col-md-5 d-flex footer_icon_wraper">
      <li><a href="https://goo.gl/maps/LF6wbPWBgiGzKxWz9" target="_blank" rel="noopener noreferrer"><img src="../assets/imges_all/place_icon.svg" alt="placeicon" class="icon place_icon"></a></li>
      <li><a href="tel:+886-2-22230040" target="_blank" rel="noopener noreferrer"><img src="../assets/imges_all/phone_icon.svg" alt="phoneicon" class="icon phone_icon"></a></li>
    </ul>
  </div>
  <div class="row footer_bottom ">
    <div class="col-lg-8 col-md-7 col-sm-12 copyright_wrap "><p>Copyright ©Geo3DEarth Systems Co., Ltd.</p></div>
    <div class="col-lg-4 col-md-5 col-sm-12 d-flex  footer_link">
      <a class="nav_li" href="/privacy" target="_blank" rel="noopener noreferrer">privacy</a><span>|</span>
      <a class="nav_li" href="/sitmap" target="_blank" rel="noopener noreferrer">sitmap</a>
    </div>
  </div>
</footer>