<div class="header ">
  <div class="row d-flex">
    <a class="col-6 align-self-center " href="/" target="_blank" rel="noopener noreferrer">
      <img src="../assets/imges_all/geo3dearth_logo.png" alt="geo3dearthlogo" class="loge">
    </a>
    <nav class="col-6 d-flex justify-content-end nav">
      <div class="menu_web_block">
        <div class="d-flex justify-content-end align-items-center">
          <div class="dropdown menucontent">
            <div class="dropdown_wrap">
              <a id="productsLink" class="nav_li" >
                <p>產品<br/><span>Products</span></p>
              </a>
              <ul id="productsMenu" class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/products/skylineinf" target="_blank" rel="noopener noreferrer"><p>Skyline總代理Skyline</p></a>
                </li>
                <li>
                  <a class="dropdown-item" href="/products/freetrial" target="_blank" rel="noopener noreferrer"><p>試用軟體申請</p></a>
                </li>
                <li>
                  <a class="dropdown-item" href="/products/download" target="_blank" rel="noopener noreferrer"><p>試用軟體下載</p></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="dropdown menucontent">
            <div class="dropdown_wrap">
              <a id="protfolioLink" class=" nav_li" type="button" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p>成果案例<br/><span>Protfolio</span></p>
              </a>
              <ul id="protfolioMenu" class="dropdown-menu">
                <li >
                  <a class="dropdown-item" href="/protfolio/topfive" target="_blank" rel="noopener noreferrer"><p>TOP5專案案例</p></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="dropdown menucontent">
            <div class="dropdown_wrap">
              <a id="aboutusLink" class="nav_li" type="button" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p>關於我們<br/><span>About US</span></p>
              </a>
              <ul id="aboutusMenu" class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/about" target="_blank" rel="noopener noreferrer"><p>數位地球介紹</p></a>
                </li>
                <li>
                  <a class="dropdown-item" href="/contact" target="_blank" rel="noopener noreferrer"><p>聯絡我們</p></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="menu_moblie_block">
        <img src="../assets/imges_all/menu_icon.svg" alt="menu_icon">
      </div>
    </nav>
  </div>
</div>