<% extend('./layouts/layout') %>
<div id="about_view" class="header_container header_container_style">
    <div class="container-xl space_v space_s_h">
      <div class="row desc_wrap">
        <div class="col-lg-8 col-12 caption_block_g caption_block">
          <div class="col-12">
            <h2 class="caption_title">數位地球<span class="decorate"> | </span><span>Why Geo3DEarth ?</span></h2>
            <p>數位地球科技有限公司(簡稱數位地球)，以多維地理空間資訊服務結合多產業的跨領域發展，為各項專案提供3D可視化技術，導入創新服務進行規模性管理、降低工作成本、計畫性風險評估、分析衡量投入資源、檢核系統汰換等，用智慧科技深入城市，用技術解決產業難題。</p>
            <p>數位地球科技為地理資訊服務平台(SkylineGlobe)台灣地區總代理，有最專業的技術支援服務，多年的開發經驗落實運用於環境影響評估、資源管理、國土規劃、都市和區域計畫、交通管理、森林經營、運輸規劃、生態保育、考古調查等領域。</p>
            <p>在多角經營產業的時代，多元運用智慧科技，能為各領域產業帶來新世代的創新模式。</p>
          </div>
          <div  class="col-12 d-flex justify-content-end">
            <a href="/contact" target="_blank" rel="noopener noreferrer">
              <button class="btn_primary">
                <h4>聯絡我們</h4>
                <img class="btn_icon" src="../assets/imges_all/Keyboard arrow right.svg" alt="btn_icon">
              </button>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-12 d-flex justify-content-end feature_img_block">
            <img class="about_img" src="../assets/imges/about/about1.png" alt="about_img">
        </div>
      </div>
    </div>
  </div>