<% extend('./layouts/layout') %>
<div id="contact_view" class="header_container header_container_style">
    <div class="container-xl space_v space_s_h">
      <div class="row desc_wrap ">
        <div class="col-12 caption_block_g caption_block">
          <div class="col-12">
            <h2 class="caption_title">聯絡我們<span class="decorate"> | </span><span>Contact US</span></h2>
            <p>如您想了解產品詳細資訊與3D模型服務運用，或者想親身免費體驗Skyline軟體，皆歡迎與我們聯繫!</p>
          </div>
        </div>
      </div>
      <div class="row d-flex align-items-center contact_inf_wrap">
        <div class="col-lg-7 col-md-7 col-12  contact_content ">
          <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-center contact_title"><h3>聯絡資訊</h3></div>
          <ul>
            <li>
              <a  class="d-flex align-items-center" href="https://goo.gl/maps/LF6wbPWBgiGzKxWz9" target="_blank" rel="noopener noreferrer">
                <div><img src="../assets/imges/contact/contact-icon1-place.svg" alt="placeicon" class="icon place_icon"></div>
                <div><p>235新北市中和區中山路三段37巷34號14樓(元氣大鎮內)</p></div>
              </a>
            </li>
            <li>
              <a class="d-flex align-items-center" href="mailto:willy@Geo3DEarth.com.tw" target="_blank" rel="noopener noreferrer">
                <div><img src="../assets/imges/contact/contact-icon2-email.svg" alt="emailicon" class="icon email_icon"></div>
                <div><p>willy@Geo3DEarth.com.tw</p></div>
              </a>
            </li>
            <li>
              <a class="d-flex align-items-center" href="tel:+886-2-22230040" target="_blank" rel="noopener noreferrer">
                <div><img src="../assets/imges/contact/contact-icon3-phone.svg" alt="phoneicon" class="icon phone_icon"></div>
                <div><p>(02)2223-0040</p></div>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-lg-5 col-md-5 col-12 contact_img">
          <img src="../assets/imges/contact/contact1.svg" alt="contact_img">
        </div>
      </div>
    </div>
  </div>