<% extend('./layouts/layout') %>
<div id="404error_view" class="header_container">
  <div class="col-12 container-xl space_v space_s_h">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col-lg-5  col-12 error_img_wrap">
          <img class="error_img" src="../assets/imges/404/error_img.png" alt="error_img">
          <img class="error_img_front" src="../assets/imges/404/circle_line_front.svg" alt="error_img_front">
          <img class="error_img_back" src="../assets/imges/404/circle_line_back.svg" alt="error_img_back">
        </div>
        <div class="col-lg-7 col-12 link_wrap">
          <div>
            <h3>找不到頁面!</h3>
            <h4>Oops! That page can’t be found.</h4>
          </div>
          <a href="/" target="_blank" rel="noopener noreferrer">
            <button class="d-flex justify-content-center btn_second">
              <img class="home_icon" src="../assets/imges/404/home_icon.svg" alt="home_icon">
              <h2>回首頁</h2>
            </button>
          </a>
          <img class="error_icon_img" src="../assets/imges/404/404_icon_img.png" alt="error_icon_img">
        </div>
      </div>
    </div>
    <div class="col-12">
      <img class="error_bgm_img" src="../assets/imges/404/404-bgm.png" alt="error_bgm_img">
    </div>
  </div>
</div>