<% extend('./layouts/layout') %>
<div id="products_view" class="products">
  <div id="productsItemone_view" class="header_wrap">
    <div class="container-xl space_v">
      <div class="row desc_wrap">
        <div class="col-lg-8 col-md-8 col-12 caption_block_g caption_block">
          <div class="col-12">
            <h2 class="caption_title"><div>Skyline</div>為地理空間創造3D多樣性</h2>
            <p>將建構地圖點線面,轉換高解析度的3D數位模型,透過可視化的位置服務,構建創新的多元服務體驗。</p>
          </div>
          <div  class="col-12 d-flex justify-content-end">
            <a href="/products/freetrial" target="_blank" rel="noopener noreferrer">
              <button class="btn_primary">
                <h4>Free Trial</h4>
                <img class="btn_icon" src="../assets/imges_all/Keyboard arrow right.svg" alt="btn_icon">
              </button>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-end feature_img_block">
            <img src="../assets/imges/about/about1.png" alt="about_img">
        </div>
      </div>
    </div>
  </div>
  <div class="container-xl space_v">
    <div class="row">
      <div class="col-xl-3 col-md-4 col-12">
        <div id="productsitemlink_view" class="products_link_wrap">
          <div class="loge_img_block d-flex justify-content-center">
            <img alt="skyline_logo" src="../assets/imges_all/skyline_logo.png">
          </div>
          <div class="link_block">
            <ul class="caption_block">
              <li class="content_caption1"><a  target="_blank" rel="noopener noreferrer">Information</a></li>
              <li class="content_caption1"><a  target="_blank" rel="noopener noreferrer">City Builder</a></li>
              <li class="content_caption1"><a  target="_blank" rel="noopener noreferrer">Terra Explorer</a></li>
              <li class="content_caption1"><a  target="_blank" rel="noopener noreferrer">SG Server</a></li>
              <li class="content_caption1"><a  target="_blank" rel="noopener noreferrer">HTML5/WebGL</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div  class="product_wrap col-xl-9 col-md-8  col-12">
        <div id="productinf" class="row products_content">
          <div id="productsitemtwo_view" class="container-xl">
            <div class="products_introduce">
              <div class="content_item">
                <div class=" d-flex">
                  <h3 class="content_title">Skyline 創造可視化地理空間</h3>
                </div>
                <p>Skyline 提供完整3D應用平台,建置精準的3D模型,快速建構專案流程,呈現擬真3D環境,提供完善的導航、查詢與分析等服務體驗,並能更多方的滿足你的需求。</p>
              </div>
              <div class="d-flex justify-content-end">
                <img alt="skyline_inf_img" src="../assets/imges/products/product2.png">
              </div>
            </div>
            <div class="products_function">
              <div class="function_wrap">
                <div class="content_item">
                  <h3 class="content_title">功能服務</h3>
                  <p>透過 Skyline 全方面的功能服務,可進行提前預測、風險評估、景點導覽與深度調查等。全球擁有多家企業平台採納,使用於降低產業風險、提升產品附加加值與提高精準的專案目標規劃。</p>
                </div>
                <div>
                  <img alt="skyline_function_img" src="../assets/imges/products/product3.png">
                </div>
                <div class="content_item">
                  <p>服務提供City Builder功能快速建立產出高質量的3D網格模型,結合Terra Explorer支援編輯、檢視、套疊等多元功能，並採SG Server遠端串流服務安全監控有效管理。</p>
                </div>
                <div class="row skyline_function_block">
                  <a class="col-xl-4 col-md-4 col-12 skyline_function_item" href="../page/CityBuilder.html" target="_blank" rel="noopener noreferrer">
                    <div>
                      <img alt="skyline_function_citybuilder_img" src="../assets/imges/products/products-item1.png">
                      <h4 class="item_title">City Builder</h4>
                    </div>
                  </a>
                  <a class="col-xl-4 col-md-4 col-12 skyline_function_item" href="../page/SGserver.html" target="_blank" rel="noopener noreferrer">
                    <div >
                      <img alt="skyline_function_sgserver_img" src="../assets/imges/products/products-item2.png">
                      <h4 class="item_title">SG Server</h4>
                    </div>
                  </a>
                  <a class="col-xl-4 col-md-4 col-12 skyline_function_item" href="../page/Terraexplorer.html" target="_blank" rel="noopener noreferrer">
                    <div >
                      <img alt="skyline_function_terraexplorer_img" src="../assets/imges/products/products-item3.png">
                      <h4 class="item_title">Terra Explorer</h4>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="citybuilder" class="row products_content">
          <div id="productsitemtwo_view" class="container-xl">
            <div class="products_introduce">
              <div class="row content_item ">
                <div class="col-12 d-flex">
                  <h3 class="content_title">City Builder  高分辨率自動建置3D模組</h3>
                </div>
                <div class="row col-12 d-flex justify-content-end align-items-center content_text_wrap">
                  <p class="col-xl-8 col-md-8  col-12 content_text">City Builder 能合併成多解析度及優化3D網格層數據庫，並運PhotoMesh、Terra Builder 技術快速輕鬆整合不同解析度及座標系統資料，採用多工處理模組減少算圖產出時間，自動建立最佳化品質3D維度模型。</p>
                  <div class="col-xl-4 col-md-4  col-12 ">
                    <img class="skyline_cb_img" alt="skyline_cb_img" src="../assets/imges/citybuilder/citybuilder1.png">
                  </div>
                  <img class="skyline_cb_icon" alt="skyline_cb_icon" src="../assets/imges/citybuilder/citybuilder_icon.svg">
                </div>
              </div>
            </div>
            <div class="products_function">
              <div class="function_wrap product_wrap">
                <div class="content_item">
                  <h3 class="content_title">功能服務</h3>
                </div>
                <div class="row ">
                  <div class="col-xl-4 col-12 content_body">
                    <div class="img_block">
                      <img alt="skyline_function_img1" src="../assets/imges/citybuilder/products_cb.png">
                    </div>
                    <h4 class="contnet_text">City Builder</h4>
                    <p>運用巨量或BIM模型合併成多解析度及優化3D網格層數據庫(3DML)。</p>                  
                  </div>
                  <div class="col-xl-4 col-12 content_body">
                    <div class="img_block">
                      <img alt="skyline_function_img2" src="../assets/imges/citybuilder/products_pm.png">
                    </div>
                    <h4 class="contnet_text">Photo Mesh</h4>
                    <p>採用標準2D影像全自動生成高質量解析度、清晰紋理與擬真的3D網格模型。</p>      
                  </div>                  
                  <div class="col-xl-4 col-12 content_body">
                    <div class="img_block">
                      <img alt="skyline_function_img3" src="../assets/imges/citybuilder/products_tb.png">
                    </div>
                    <h4 class="contnet_text">Terra Builder</h4>
                    <p>使用不同尺寸與解析度的航空影像、衛星圖像和數值高程模型整合於單一3D地形數據庫中。</p>
                  </div>
                </div>
              </div>
              <div class="illustrate_wrap product_wrap">
                <div class="content_item">
                  <h3 class="content_title">產品概述</h3>
                </div>
                <div class="row">
                  <div class="col-12 content_body">
                    <div class="row">
                      <div class="col-xl-6 col-12"><img src="../assets/imges/citybuilder/products_illustrate1.png" alt="skyline_illustrate_img1"></div>
                      <div class="col-xl-6 col-12">
                        <h4 class="contnet_text">整合大型3D地理模型,參數最佳化</h4>
                        <p>能快速且簡易地合併不同解析度、不同座標系統之資料，建立最佳化大型3D地形資料，並可透過網際網路串流給使用者。
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 content_body">
                    <div class="row">
                      <div class="col-xl-6 col-12"><img src="../assets/imges/citybuilder/products_illustrate2.png" alt="skyline_illustrate_img2"></div>
                      <div class="col-xl-6 col-12">
                        <h4 class="contnet_text">圖層系列編輯工具,方便建置與應用 </h4>
                        <p>彈性操作工具。達到輕鬆裁剪、調整大小、移動圖層 、特定區域選擇與顏色校正，並能同時編輯多個圖層。</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 content_body">
                    <div class="row">
                      <div class="col-xl-6 col-12"><img src="../assets/imges/citybuilder/products_illustrate3.png" alt="skyline_illustrate_img3"></div>
                      <div class="col-xl-6 col-12">
                        <h4 class="contnet_text">多工處理器模組與 Direct Connect 模組結合,快速產出3D地理模型</h4>
                        <p>可同時使用於相同網域內多台電腦及CPU，使用者運算3D地理模型資料時，提供分散運算工作負荷，快速達到高品質的3D地理模型。與TerraGate DirectConnect模組結合，無須透過實體融合成3D地形檔案，可於瀏覽時即時建立3D地理模型，節省處理時間及儲存空間。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="characteristic_wrap product_wrap">
                <div class="content_item">
                  <h3 class="content_title">產品特性</h3>
                </div>
                <div class="row content_body">
                  <div class="col-xl-6 col-12 body_block">
                    <div class="item_block">
                      <p class="item_text">有效處理巨量資料，檔案無大小限制。</p>
                    </div>
                    <div class="item_block">
                      <p  class="item_text">進行資料壓縮使磁碟儲存量最小化。</p>
                    </div>
                    <div class="item_block">
                      <p  class="item_text">支援大多數來源資料的標準格式</p>
                    </div>                      
                    <div class="item_block">
                      <p  class="item_text">多種編輯工具供使用者編輯圖層之呈現方式。</p>
                    </div>
                  </div>
                  <div class="col-xl-6 col-12 body_block">
                    <div class="item_block">
                      <p  class="item_text">自動合併(mosaic)不同空間解析度來源資料。</p>
                    </div>
                    <div class="item_block">
                      <p  class="item_text">資料來源可讀取伺服器發佈的網格檔案</p>
                    </div>                      
                    <div class="item_block">
                      <p  class="item_text">64位元檔案指標，可供超過兆位元(terabyte)大小快速存取資料庫。</p>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
        <div id="terraexplorer" class="row products_content">
          <div id="productsitemtwo_view" class="container-xl">
            <div class="products_introduce">
              <div class="row content_item ">
                <div class="col-12 d-flex">
                  <h3 class="content_title">Terra Explorer 3DGIS呈現多功能支援應用</h3>
                </div>
                <div class="row col-12 d-flex justify-content-end align-items-center content_text_wrap">
                  <p class="col-xl-8 col-md-8  col-12 content_text">Terra Explorer 廣泛以及多樣化實用功能,呈現直覺化的編輯介面、提供多角度的瀏覽3D影像場景、多功能的編輯使用工具等支援服務。亦可進行檢視、查詢、分析和呈現可量化之數據資料、3D 模型、虛擬物件等 。</p>
                  <div class="col-xl-4 col-md-4  col-12 ">
                    <img class="skyline_cb_img" alt="skyline_cb_img" src="../assets/imges/terraexplorer/terraexplorer1.png">
                  </div>
                  <img class="skyline_cb_icon" alt="skyline_cb_icon" src="../assets/imges/terraexplorer/terraexplorer_icon.svg">
                </div>
              </div>
            </div>
            <div class="products_function">
              <div class="illustrate_wrap product_wrap">
                <div class="content_item">
                  <h3 class="content_title">產品概述</h3>
                </div>
                <div class="row">
                  <div class="col-12 content_body">
                    <div class="col-xl-6 col-12"><img src="../assets/imges/terraexplorer/terraexplorer_illustrate1.png" alt="skyline_illustrate_img1"></div>
                    <div class="col-xl-6 col-12">
                      <h4 class="contnet_text">多樣的操作功能,輕鬆產出更為精準的分析</h4>
                      <p>提供瀏覽、編輯、測量及分析操作功能,亦可輕鬆為物件增添更精準的數據資料與細緻畫面。</p>
                    </div>
                  </div>
                  <div class=" col-12 content_body">
                    <div class="col-xl-6 col-12"><img src="../assets/imges/terraexplorer/terraexplorer_illustrate2.png" alt="skyline_illustrate_img2"></div>
                    <div class="col-xl-6 col-12">
                      <h4 class="contnet_text">擬真3D特效多元運用,為專案任務進行演練規劃、指揮與管制</h4>
                      <p>可針對選定的場景或物件,進行套用特效效果,並支援動畫呈現(如火災、爆炸或煙霧等),完整呈現安排的畫面效果。</p>
                    </div>
                  </div>
                  <div class=" col-12 content_body">
                    <div class="col-xl-6 col-12"><img src="../assets/imges/terraexplorer/terraexplorer_illustrate3.png" alt="skyline_illustrate_img3"></div>
                    <div class="col-xl-6 col-12">
                      <h4 class="contnet_text">精確計算涵蓋範圍,準確的展示於地理場景</h4>
                      <p>提供視覺化呈現物件場景的可視與遮蔽範圍,並可增添於專案任務進行事前演練與規劃模擬。</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="version_wrap product_wrap">
                <div class="content_item">
                  <h3 class="content_title">產品版本</h3>
                </div>
                <div class="row ">
                  <div class="col-xl-4 col-12 d-flex flex-column align-items-center content_body">
                    <div class="img_block"><img src="../assets/imges/terraexplorer/terraexplorer_version1.svg" alt="skyline_version_img1"></div>
                    <div class="d-flex flex-column align-items-center">
                      <h4 class="contnet_text"><span>TerraExplorer</span> Pro</h4>
                      <p>進階的 2D/3D 物件編輯與繪圖工具。亦可對3D場景編輯成展示劇本，並完成專案封包成單機版或網路發佈。</p>
                    </div>
                  </div>
                  <div class="col-xl-4 col-12 d-flex flex-column align-items-center content_body">
                    <div class="img_block"><img src="../assets/imges/terraexplorer/terraexplorer_version2.svg" alt="skyline_version_img2"></div>
                    <div  class="d-flex flex-column align-items-center">
                      <h4 class="contnet_text"><span>TerraExplorer</span> Plus</h4>
                      <p>透過TerrGate的浮動授權機制 Internet License。</p>
                    </div>
                  </div>
                  <div class="col-xl-4 col-12 d-flex flex-column align-items-center content_body">
                    <div class="img_block"><img src="../assets/imges/terraexplorer/terraexplorer-_version3.svg" alt="skyline_version_img3"></div>
                    <div  class="d-flex flex-column align-items-center">
                      <h4 class="contnet_text"><span>TerraExplorer</span> Developer</h4>
                      <p>運用TerraExplorer Pro強大的應用程式介面(API)，建立客製化使用者介面的應用程式。</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="characteristic_wrap product_wrap">
                <div class="content_item">
                  <h3 class="content_title">產品特性</h3>
                </div>
                <div class="content_body block_one">
                  <div>
                    <img src="../assets/imges/terraexplorer/terraexplorerviwer_img.png" alt="skyline_characteristic_img">
                    <div class="product_text_item">                      
                      <h3 >TerraExplorer Viwer</h3>
                    </div>
                  </div>
                  <div>
                    <p>可進行瀏覽融合航照正射影像、衛星影像和地形高程的3D地形，以及使用2D/3D圖層建置的高解析度3D環境,並提供瀏覽、基本的編輯、測量及分析等功能。</p>
                  </div>
                </div>
                <div class="content_body block_two">
                  <div class="two_text_item content_item">
                    <h3>多項功能客製化靈活運用各大產業</h3>
                  </div>
                  <div class="row">
                    <div class="row d-flex flex-column justify-content-between  col-xl-6 col-12">
                      <div class="row">
                        <div class="col-xl-6 col-12 item_block">
                          <div class="item">
                            <img src="../assets/imges/terraexplorer/terraexplorerviwer_characteristic1.png" alt="skyline_characteristic1">
                            <h5  class="item_text1">地形剖面</h5>
                          </div>
                        </div>
                        <div class="col-xl-6 col-12 item_block">
                          <div>
                            <img src="../assets/imges/terraexplorer/terraexplorerviwer_characteristic2.png" alt="skyline_characteristic2">
                            <h5  class="item_text1">環域查詢</h5>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12 item_block">
                          <img src="../assets/imges/terraexplorer/terraexplorerviwer_characteristic3.png" alt="skyline_characteristic3">
                          <h5  class="item_text1">日照分析</h5>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-6 col-12 item_block">
                        <img src="../assets/imges/terraexplorer/terraexplorerviwer_characteristic4.png" alt="skyline_characteristic">
                        <h5  class="item_text1">視域查詢</h5>
                    </div>
                  </div>
                </div>
                <div class="row content_body">
                  <div class="col-xl-6 col-12 body_block">
                    <div class="item_block">
                      <p class="item_text">完整的量測與地形分析工具組。</p>
                    </div>
                    <div class="item_block">
                      <p  class="item_text">可建立shapefile圖層，並將繪製的2D/3D物件或圖層儲存為GIS標準檔案格式。</p>
                    </div>
                    <div class="item_block">
                      <p  class="item_text">具備ActiveX控制項，可載掛3D視窗、資訊樹、鷹圖於客製化網頁與應用程式中。</p>
                    </div>                      
                    <div class="item_block">
                      <p  class="item_text">編輯3D視窗中的巡航軌跡，以動態展示的方式呈現地理資訊，並可由巡航物件產生影片。</p>
                    </div>
                  </div>
                  <div class="col-xl-6 col-12 body_block">
                    <div class="item_block">
                      <p  class="item_text">使用標準COM介面與外部網路/本地應用程式連結，可控制靜態/動態物件、資訊、圖層。</p>
                    </div>
                    <div class="item_block">
                      <p  class="item_text">產生(匯入)靜態及動態的2D/3D物件、符號及具有地理座標之資訊圖層。</p>
                    </div>                      
                    <div class="item_block">
                      <p  class="item_text">提供豐富3D編輯工具，包含在3D地形上建立/新增幾何圖形、使用者定義物件、建築物、文字、點陣圖及動畫等繪圖工具。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="sgserver" class="row products_content">
          <div id="productsitemtwo_view" class="container-xl">
            <div class="products_introduce">
              <div class="row content_item ">
                <div class="col-12 d-flex">
                  <h3 class="content_title">SG Server 雲端服務串流遠端用戶</h3>
                </div>
                <div class="row col-12 d-flex justify-content-end align-items-center content_text_wrap ">
                  <p class="col-xl-8 col-md-8  col-12 content_text">SG Server 伺服器私有雲提供共享Web 服務，提供Terrain Services 3D地形即時串流,Collaboration Services協同作業進行3D畫面的分享與同步呈現,簡化工作流程,輕鬆打造遠端工作模式。</p>
                  <div class="col-xl-4 col-md-4  col-12 ">
                    <img class="skyline_cb_img" alt="skyline_cb_img" src="../assets/imges/sgserver/sgserver1.png">
                  </div>
                  <img class="skyline_cb_icon" alt="skyline_cb_icon" src="../assets/imges/sgserver/sgserver_icon.svg">
                </div>
              </div>
            </div>
            <div class="products_function">
              <div class="illustrate_wrap product_wrap">
                <div class="content_item">
                  <h3 class="content_title">產品概述</h3>
                  <p>多類型支援 3D 網格、影像、高程、要素和點雲等GIS 圖層類型,並提供發佈、存儲、管理和傳輸等 2D 和3D 空間數據服務，更可將數據輕鬆的共享。</p>
                </div>
                <div class="content_body">
                  <img  src="../assets/imges/sgserver/sgserver-illustrate.png" alt="skyline_function_img">
                </div>
                <div class="row">
                  <div class=" col-12 content_body">
                    <div class="col-xl-6 col-12 img_block">
                      <img src="../assets/imges/sgserver/sgserver-illustrate1.png" alt="skyline_illustrate_img1">
                    </div>
                    <div class="col-xl-6 col-12 ">
                      <h4 class="contnet_text">大量分享資訊,流暢的資料串流提升產出效率</h4>
                      <p>Terrain Services地形串流，能發佈3D地形資料庫同時供數千位客戶使用，即時串流3D地形供遠端使用者瀏覽。</p>
                    </div>
                  </div>
                  <div class=" col-12 content_body">
                    <div class="col-xl-6 col-12 img_block">
                      <img src="../assets/imges/sgserver/sgserver-illustrate2.png" alt="skyline_illustrate_img2">
                    </div>
                    <div class="col-xl-6 col-12 ">
                      <h4 class="contnet_text">資料共享服務,同步作業工作更加即時</h4>
                      <p>Collaboration Services協同作業，提供TerraExplorer使用者進行即時共同操作作業，於網路進行3D畫面的分享與同步呈現。</p>
                    </div>
                  </div>
                  <div class=" col-12 content_body">
                    <div class="col-xl-6 col-12 img_block">
                      <img src="../assets/imges/sgserver/sgserver-illustrate3.png" alt="skyline_illustrate_img3">
                    </div>
                    <div class="col-xl-6 col-12 ">
                      <h4 class="contnet_text">SGS Manager集中式的 Web 管理與配置與配置</h4>
                      <p>提供控制和監控 SGS 的所有服務,管理天際線地球伺服器、使用者和群組,並能完全操控多個 TE4W 配置。</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="characteristic_wrap">
                <div class="content_item">
                  <h3 class="content_title">產品特性</h3>
                </div>
                <div class="row content_body">
                  <div class="col-xl-6 col-12 body_block">
                    <div class="item_block">
                      <p class="item_text">於低頻寬情況下,維持最佳化表現。</p>
                    </div>
                    <div class="item_block">
                      <p  class="item_text">使用TCP/IP協定、SSL (Secure Socket Layer)通道、CTL (Certificate TrustList)。</p>
                    </div>
                    <div class="item_block">
                      <p  class="item_text">大量使用者時可將資料進行串流或管理，在伺服器中產生動態快取暫存檔，以保持較佳效能。</p>
                    </div>
                  </div>                      
                  <div class="col-xl-6 col-12 body_block">
                    <div class="item_block">
                      <p  class="item_text">符合OGC規範之WFS 1.0與WMS 1.1.1/1.3.0。</p>
                    </div>
                    <div class="item_block">
                      <p  class="item_text">提供資料以加密格式安全發佈服務，發佈之資料僅TerraExplorer可解密讀取使用。</p>
                    </div>                      
                    <div class="item_block">
                      <p  class="item_text">可直接由Shapefile或Oracle、SQL、PostGIS、ArcSDE伺服器連結SFS串流向量資料。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="html5webl" class="row products_content">
          <div id="productsitemtwo_view" class="container-xl">
            <div class="products_introduce">
              <div class="row content_item ">
                <div class="col-12 d-flex">
                  <h3 class="content_title">HTML5/WebGL 多支援預覽</h3>
                </div>
                <div class="row col-12 d-flex justify-content-end align-items-center content_text_wrap">
                  <p class="col-xl-8 col-md-8  col-12 content_text">採用強大的支援系統,你無須安裝任何軟體,隨時隨地於3D地理環境進行查詢與分析數據,並適用於多個平台及瀏覽器支援,(Windows, Mac, Linux, iOS, Android)。</p>
                  <div class="col-xl-4 col-md-4  col-12 ">
                    <img class="skyline_cb_img" alt="skyline_cb_img" src="../assets/imges/html5webgl/html5webgl1.png">
                  </div>
                  <img class="skyline_cb_icon" alt="skyline_cb_icon" src="../assets/imges/html5webgl/html5webgl1_icon.svg">
                </div>
              </div>
            </div>
            <div class="products_function">
              <div class="function_wrap product_wrap">
                <div class="content_item">
                  <h3 class="content_title">功能服務</h3>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-12 content_body">
                    <div class="d-flex align-items-center">
                      <img class="img_block" alt="skyline_function_img1" src="../assets/imges/html5webgl/TerraExplorer for Web.png">
                    </div>
                    <h4 class="contnet_text"><span>TerraExplorer</span>for Web</h4>
                    <p>廣泛的應用功能及高解析度的3D環境,可不斷疊加的虛擬物件,創建3D可視化地理環境,為你的專案打造最完善的建構環境。</p>
                  </div>
                  <div class="col-xl-4 col-12 content_body">
                    <div class="d-flex align-items-center">
                      <img class="img_block" alt="skyline_function_img2" src="../assets/imges/html5webgl/TerraExplorer for Desktop.png">
                    </div>
                    <h4 class="contnet_text"><span>TerraExplorer</span>for Desktop</h4>
                    <p>輕量級的3D GIS 提供查看和分析高解析度、擬真的 3D影像, 為Web 瀏覽器提供多個平台和瀏覽器的支援。</p>
                  </div>                  
                  <div class="col-xl-4 col-12 content_body">
                    <div class="d-flex align-items-center">
                      <img class="img_block" alt="skyline_function_img3" src="../assets/imges/html5webgl/TerraExplorer for Mobile.png">
                    </div>
                    <h4 class="contnet_text"><span>TerraExplorer</span>for Mobile</h4>
                    <p>支援Android 和蘋果 iOS 手機設備系統,提供了多項選擇工具，讓您隨時隨地查詢、分析所需數據。</p>
                  </div>
                </div>
              </div>
              <div class="characteristic_wrap product_wrap">
                <div class="content_item">
                  <h3 class="content_title">產品特性</h3>
                </div>
                <div class="row content_body">
                  <div class="col-xl-6 col-12 body_block">
                    <div class="item_block">
                      <p class="item_text">無需任何外掛,即可完整呈現3D建構環境。</p>
                    </div>
                    <div class="item_block">
                      <p  class="item_text">支援多種格式。</p>
                    </div>
                  </div>
                  <div class="col-xl-6 col-12 body_block">
                    <div class="item_block">
                      <p  class="item_text">適用於多個平台及瀏覽器支援,(Windows, Mac, Linux, iOS, Android)。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="productsitemthree_view" class="productsitemthree">
    <div class="container-xl space_s_v space_v">
      <div class="row d-flex  ad_wrap">
          <div class="row ol-xl-9 col-md-9 col-12 d-flex flex-row caption_block_g caption_block">
            <div class="col-12 mb-5">
              <h2 class="caption_title">提供最完備的地理應用服務</h2>
              <p>數位地球科技有限公司經營多年地理空間服務，擁有最專業的Skyline軟體支援，給予最完整的系統支援，讓您的產品有更多元的運用及發展。</p>
            </div>
            <div  class="col-12 d-flex justify-content-end">
              <a href="/protfolio/topfive" target="_blank" rel="noopener noreferrer">
                <button class="btn_second">
                  <h4>實務案例</h4>
                  <img class="btn_icon" src="../assets/imges_all/Keyboard arrow right.svg" alt="btn_icon">
                </button>
              </a>
            </div>
          </div>
          <div class="col-xl-3 col-md-3 col-12  img_block ">
            <img src="../assets/imges/products/products4.png" alt="server_bgm">
          </div>
      </div>
    </div>
  </div>
  <div class="row flex-column protfolio_container space_v">
    <div class="container-xl">
      <div class="d-flex justify-content-center ">
        <div class="col-12 caption_block_g caption_block">
          <h2 class="caption_title"><span class="decorate_text">Top5</span>Skyline產品專案應用</h2>
          <p>我們服務近百項各式專案，為客戶完成專案目標與解決產品問題:</p>
        </div>
      </div>
      <div class="protfolio_img_wrap slipsilder_wrap">
        <div class="d-flex row flex-nowrap img_wrap slipsilders">
          <div class=" col-xl-2 col-md-2 col-4 protfolio_img_block slipsilder">
            <img  class="products_img"  src="../assets/imges/products/product_item1.png" alt="skyline_slogan_img">
          </div>
          <div class=" col-xl-2 col-md-2 col-4 protfolio_img_block slipsilder">
            <img  class="products_img"  src="../assets/imges/products/product_item2.png" alt="skyline_slogan_img">
          </div>
          <div class=" col-xl-2 col-md-2 col-4 protfolio_img_block slipsilder">
            <img  class="products_img"  src="../assets/imges/products/product_item3.png" alt="skyline_slogan_img">
          </div>
          <div class=" col-xl-2 col-md-2 col-4 protfolio_img_block slipsilder">
            <img  class="products_img"  src="../assets/imges/products/product_item4.png" alt="skyline_slogan_img">
          </div>
          <div class=" col-xl-2 col-md-2 col-4 protfolio_img_block slipsilder">
            <img  class="products_img"  src="../assets/imges/products/product_item5.png" alt="skyline_slogan_img">
          </div>
        </div>
        <div class="changeicon_wrap">
          <img class="left-icon" src="../assets/imges/home/Arrow right-white.svg" alt="">
          <img class="right-icon" src="../assets/imges/home/Arrow right-white.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>