<% extend('./layouts/layout') %>
<div id="sitmap_view" class="header_container">
  <div class="container-xl space_v space_s_h">
    <div class="breadcrumb_wrap">
      <a href="/" target="_blank" rel="noopener noreferrer">Home</a><span> > </span><a class="active" href="/sitmap" target="_blank" rel="noopener noreferrer">Sitmap</a>
    </div>
    <div class="content_wrap">
      <div class="d-flex justify-content-center caption_block">
        <div class="content_caption"><h2>Sitmap</h2></div>
        <!-- <div class="caption_circle"><span>0</span></div> -->
      </div>


      <div class="content_block">
        <div class="content_item hide">
          <div class="item_head">
            <div  class="item_title_block">
              <img src="../assets/imges/sitmap/sitmap-icon2.svg" alt="productsicon" class="icon products_icon">
              <p class="content_label">產品| Products</p>
            </div>
            <span class="change_icon" ></span>
          </div>
          <div class="item_body">
            <a href="/products/skylineinf" target="_blank" rel="noopener noreferrer">Skyline總代理</a>
            <a href="/products/freetrial" target="_blank" rel="noopener noreferrer">試用軟體申請</a>
            <a href="/products/download" target="_blank" rel="noopener noreferrer">試用軟體下載</a>
          </div>
        </div>


        <div class="content_item hide">
          <div class="item_head" >
            <div class="item_title_block" >
              <img src="../assets/imges/sitmap/sitmap-icon3.svg" alt="productsicon" class="icon products_icon">
              <p class="content_label">案例| Protfolio</p>
            </div>
            <span class="change_icon" ></span>
          </div>
          <div class="item_body">
            <a href="/protfolio/topfive" target="_blank" rel="noopener noreferrer">TOP5專案案例</a>
          </div>
        </div>

       
        <div class="content_item hide" >
          <div class="item_head" >
            <div class="item_title_block" >
              <img src="../assets/imges/sitmap/sitmap-icon4.svg" alt="productsicon" class="icon products_icon">
              <p class="content_label">關於我們 | Abouts</p>
            </div>
            <span class="change_icon" ></span>
          </div>
          <div class="item_body" >
            <a href="/about" target="_blank" rel="noopener noreferrer">數位地球介紹</a>
            <a href="/contact" target="_blank" rel="noopener noreferrer">聯絡我們</a>
          </div>
        </div>


        <div class="content_item hide">
          <div class="item_head">
            <div class="item_title_block">
              <img src="../assets/imges/sitmap/sitmap-icon6.svg" alt="productsicon" class="icon products_icon">
              <p class="content_label">其他| Other</p>
            </div>
            <span class="change_icon" ></span>
          </div>
          <div class="item_body">
            <a href="privacy" target="_blank" rel="noopener noreferrer">隱私權政策</a>
          </div>
        </div>
      </div>
    </div>


    <div class="row style2_wrap">
        <div class="col-lg-7 col-md-12 col-12  caption_block_g caption_block">
          <div class="desc_block">
            <span>Geo3DEarth Systems</span>
            <h2 class="caption_title">提供最完備的地理應用服務</h2>
            <p>數位地球科技有限公司經營多年地理空間服務，擁有最專業的Skyline軟體支援，給予最完整的系統支援，讓您的產品有更多元的運用及發展。</p>
          </div>
          <div class="d-flex justify-content-end">
            <a href="/contact" target="_blank" rel="noopener noreferrer">
              <button class="btn_primary">
                <h4>聯繫我們</h4>
                <img class="btn_icon" src="../assets/imges_all/Keyboard arrow right.svg" alt="btn_icon">
              </button>
            </a>
          </div>
        </div>
        <a class="col-lg-5 col-12 feature_img_link" href="/contact" target="_blank" rel="noopener noreferrer">
          <div class="feature_img_block"></div>
        </a>
    </div>
  </div>
</div>