<% extend('./layouts/layout') %>
<div id="SkylineDownloadView_view" class="row main_container">
  <div class="container-xl  space_v space_s_h">
    <div class="row header_container header_container_style top_container">
      <div  id="skylineitemone_view"  class="col-12  desc_wrap">
        <div class="col-12 caption_block_g caption_block">
          <div class="col-12">
            <h2 class="caption_title">Skyline 軟體下載、試用</h2>
            <p>數位地球科技有限公司為Skyline台灣地區總代理，提供SkylineGlobe相關的技術支援與服務，協助您可免費進行下載申請軟體試用，您可於試用期間盡情享受SkylineGlobe帶來的創新服務。</p>
          </div>
          <div  class=" d-flex justify-content-end">
            <a href="/products/freetrial" target="_self" rel="noopener noreferrer">
              <button class="btn_primary">
                <h4>軟體試用</h4>
                <img class="btn_icon" src="../assets/imges_all/Keyboard arrow right.svg" alt="btn_icon">
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div  class="row  bottom_container">
      <div class="col-12">
        <div class="row">
          <div id="skylineitemtwoView" class="col-xl-2 col-md-2 col-12" >
            <div class="caption_block ">
              <div class="d-flex content_caption">
                <div class="caption_title"><h2><div>軟</div><div>體</div><div>下</div><div>載</div></h2></div>
                <div class="changeicon_wrap2">
                  <img src="../assets/imges/freetrial/Arrow right.svg" alt="">
                  <img src="../assets/imges/freetrial/Folder.svg" alt="">
                  <img src="../assets/imges/freetrial/Arrow right.svg" alt="">
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-10 col-md-10 col-12  software_wrap">
              <div class=" software_top">
                <h3 class="software_title">軟體下載</h3>
                <p>提供您 TerraExplorer APP 、TerraExplorer Pro 軟體服務,依照您的作業系統選擇下載項目。</p>
              </div>
              <div class="row col-12 software_bottom">
                <div class="row download_wrap">
                  <div id="downloadltemone_view" class="col-xl-5 col-lg-6 col-md-6 col-12">
                    <div class="content_item">
                      <h3 class="content_title">TerraExplorer APP</h3>
                    </div>
                    <div class="content_haeder">
                      <div class="line_style">
                        <img alt="terraexplorerapp_img" src="../assets/imges/skylinedownload/terraexplorerapp_download.png">
                      </div>
                    </div>
                    <div class="content_bottom">
                      <div class="caption_block">
                        <div class="caption_title"><p>英文版</p></div>
                      </div>
                      <ul class="dowload_link_block">
                          <li>
                            <a href="https://play.google.com/store/apps/details?id=com.skyline.terraexplorer&hl=tc" target="_blank" rel="noopener noreferrer">
                              Android  v2.0.1
                            </a>
                          </li>
                        <li>
                          <a href="https://itunes.apple.com/tw/app/terraexplorer/id722233115?mt=8" target="_blank" rel="noopener noreferrer">IOS  v2.0.2</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div id="downloadltemone_view" class="col-xl-5 col-lg-6 col-md-6 col-12">
                    <div class="content_item">
                      <h3 class="content_title">TerraExplorer Pro</h3>
                    </div>
                    <div class="content_haeder">
                      <div class="line_style">
                        <img alt="terraexplorerapp_img" src="../assets/imges/skylinedownload/terraexplorerpro_download.png">
                      </div>
                    </div>
                    <div class="content_bottom">
                      <div>
                        <div class="caption_block">
                          <div class="caption_title"><p>繁體中文版</p></div>
                        </div>
                        <ul class="dowload_link_block">
                          <li>
                            <a href="https://f.hubspotusercontent30.net/hubfs/5826036/TE%20and%20TEPro%20v7%20in%20Chinese.zip" target="_blank" rel="noopener noreferrer">v7.1.0</a>
                          </li>
                        </ul>
                      </div>
                      <div>
                        <div class="caption_block">
                          <div class="caption_title"><p>英文版</p></div>
                        </div>
                        <ul class="dowload_link_block">
                          <li>
                            <a href="https://cdn2.hubspot.net/hubfs/5826036/TEDv7.2.1.4020.1.zip" target="_blank" rel="noopener noreferrer">v7.2.1</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>