<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="../assets/earth-globe_icon.ico" />
    <link rel="stylesheet" href="../assets/scss/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/about.css">
    <title>數位地球科技有限公司 | 關於我們</title>
  </head>
  <body>
    <div class="header ">
      <div class="row d-flex">
        <a class="col-7 col-md-5 align-self-end  " href="../view/index.html" target="_self" rel="noopener noreferrer">
          <img src="../assets/imges_all/geo3dearth_logo.png" alt="geo3dearthlogo" class="loge-1">
        </a>
        <nav class="col-5 col-md-7 d-flex justify-content-end nav">
          <div class="menu_web_block">
            <div class="menu_box ">
              <div class="dropdown menucontent">
                <div class="dropdown_wrap">
                  <a id="productsLink" class="nav_li" >
                    <p>產品<br/><span>Products</span></p>
                  </a>
                  <ul id="productsMenu" class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../view/Products.html" target="_self" rel="noopener noreferrer"><p>Skyline臺灣總代理</p></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../view/FreeTrial.html" target="_self" rel="noopener noreferrer"><p>試用軟體申請</p></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../view/SkylineDownload.html" target="_self" rel="noopener noreferrer"><p>試用軟體下載</p></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="dropdown menucontent">
                <div class="dropdown_wrap">
                  <a id="protfolioLink" class=" nav_li" type="button" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p>成果案例<br/><span>Protfolio</span></p>
                  </a>
                  <ul id="protfolioMenu" class="dropdown-menu">
                    <li >
                      <a class="dropdown-item" href="../view/ProtfolioTopFive.html" target="_self" rel="noopener noreferrer"><p>TOP5專案案例</p></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="dropdown menucontent">
                <div class="dropdown_wrap">
                  <a id="aboutusLink" class="nav_li" type="button" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p>關於我們<br/><span>About US</span></p>
                  </a>
                  <ul id="aboutusMenu" class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../view/About.html" target="_self" rel="noopener noreferrer"><p>數位地球介紹</p></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../view/Contact.html" target="_self" rel="noopener noreferrer"><p>聯絡我們</p></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <button type="button" class="btn_close">X</button>
            <div class="modal-backdrop "></div>
          </div>
          <div class="menu_moblie_block">
            <img src="../assets/imges_all/menu_icon.svg" alt="menu_icon">
          </div>
        </nav>
      </div>
    </div>
    <div id="about_view" class="header_container header_container_style">
      <div class="container-xl space_v space_s_h">
        <div class="row desc_wrap">
          <div class="col-lg-8 col-12 caption_block_g caption_block">
            <div class="col-12">
              <h2 class="caption_title">數位地球<span class="decorate"> | </span><span>Why Geo3DEarth ?</span></h2>
              <p>數位地球科技有限公司(簡稱數位地球)，為臺灣地區 地理資訊服務平台(SkylineGlobe) 總代理，以多維地理空間資訊服務結合多產業的跨領域發展，多年專業經驗的技術支援服務落實運用於觀光旅遊、資源管理、運輸規劃及軍事國防等領域。為各項專案提供3D可視化技術，導入創新服務進行規模性管理、降低工作成本、計畫性風險評估等，以智慧科技深入城市，以技術解決產業難題。</p>
            </div>
            <div  class="col-12 d-flex justify-content-end">
              <a href="../view/Contact.html" target="_blank" rel="noopener noreferrer">
                <button class="btn_primary">
                  <h4>聯絡我們</h4>
                  <img class="btn_icon" src="../assets/imges_all/Keyboard arrow right.svg" alt="btn_icon">
                </button>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-12 col-12 d-flex justify-content-end feature_img_block">
              <img class="about_img" src="../assets/imges/about/about1.png" alt="about_img">
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="row  footer_top">
        <div class="col-lg-6 col-xs-12 col-md-7 col-12 footer_logo_wrapper">
          <div class="row d-flex ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 loge_block">
              <a  href="../view/index.html" target="_blank" rel="noopener noreferrer">
                <img class="loge" src="../assets/imges_all/geo3dearth_logo1.png" alt="geo3dearthlogo" >
                <p>數位地球</p>
              </a>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-12 icon_block">
              <div id="twcaseal" class="SMALL">
                  <img src="../assets/imges_all/SMALL.gif" />
              </div>
              <script type="text/javascript" charset="utf-8" >var twca_cn="ssl.url.com.tw";</script>
              <script type="text/javascript" src="../js/twcaseal_v3.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
        <ul class="col-lg-2 col-xs-12  col-md-5 d-flex footer_icon_wraper">
          <li><a href="https://goo.gl/maps/LF6wbPWBgiGzKxWz9" target="_blank" rel="noopener noreferrer"><img src="../assets/imges_all/place_icon.svg" alt="placeicon" class="icon place_icon"></a></li>
          <li><a href="tel:+886-2-22230040" target="_blank" rel="noopener noreferrer"><img src="../assets/imges_all/phone_icon.svg" alt="phoneicon" class="icon phone_icon"></a></li>
        </ul>
      </div>
      <div class="row footer_bottom ">
        <div class="col-lg-8 col-md-7 col-sm-12 copyright_wrap "><p>Copyright ©Geo3DEarth Systems Co., Ltd.</p></div>
        <div class="col-lg-4 col-md-5 col-sm-12 d-flex  footer_link">
          <a class="nav_li" href="../view/Privacy.html" target="_blank" rel="noopener noreferrer">privacy</a><span>|</span>
          <a class="nav_li" href="../view/Sitmap.html" target="_blank" rel="noopener noreferrer">sitmap</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
    <script type="text/JavaScript" src="../js/jscript.js" ></script>
  </body>
</html>