<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1,user-scalable=no">
    <meta name="description" content="數位地球專業服務，詳細合作方案請於我們聯絡洽詢。">
    <link rel="shortcut icon" href="../assets/earth-globe_icon.ico" />
    <link rel="stylesheet" href="../assets/scss/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/contact.css">
    <title>數位地球科技有限公司 | 聯絡我們</title>
  </head>
  <body>
    <div class="header ">
      <div class="row d-flex">
        <a class="col-7 col-md-5 align-self-end  p-0" href="../" target="_self" rel="noopener noreferrer">
          <img src="../assets/imges_all/geo3dearth_logo.png" alt="geo3dearthlogo" class="loge-1">
        </a>
        <nav class="col-5 col-md-7 d-flex justify-content-end nav">
          <div class="menu_web_block">
            <div class="menu_box">
              <div class="dropdown menucontent">
                <a class="dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
                  <p>產品<br/><span class="toggle-en">Products</span></p>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../view/Products.html" target="_self" rel="noopener noreferrer"><p>Skyline臺灣總代理</p></a></li>
                  <li><a class="dropdown-item" href="../view/FreeTrial.html" target="_self" rel="noopener noreferrer"><p>試用軟體申請</p></a></li>
                  <li><a class="dropdown-item" href="../view/SkylineDownload.html" target="_self" rel="noopener noreferrer"><p>試用軟體下載</p></a></li>
                </ul>
              </div>
              <div class="dropdown menucontent">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <p>成果案例<br/><span class="toggle-en">Protfolio</span></p>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../view/ProtfolioTopFive.html" target="_self" rel="noopener noreferrer"><p>TOP5專案案例</p></a></li>
                </ul>
              </div>
              <div class="dropdown menucontent">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <p>關於我們<br/><span class="toggle-en">About US</span></p>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../view/About.html" target="_self" rel="noopener noreferrer"><p>數位地球介紹</p></a></li>
                  <li><a class="dropdown-item" href="../view/Contact.html" target="_self" rel="noopener noreferrer"><p>聯絡我們</p></a></li>
                </ul>
              </div>
            </div>
            <button type="button" class="btn_close">X</button>
            <div class="modal-backdrop "></div>
          </div>
          <div class="menu_moblie_block">
            <img src="../assets/imges_all/menu_icon.svg" alt="menu_icon">
          </div>
        </nav>
      </div>
    </div>
    <div id="contact_view" class="header_container header_container_style" style="overflow-x: hidden;">
      <div class="container-xl space_v space_s_h">
        <div class="row desc_wrap ">
          <div class="col-12 caption_block_g caption_block">
            <div class="col-12">
              <h2 class="caption_title">聯絡我們<span class="decorate"> | </span><span>Contact US</span></h2>
              <p>如您想了解產品詳細資訊與3D模型服務運用，或者想親身免費體驗Skyline軟體，皆歡迎與我們聯繫!</p>
            </div>
          </div>
        </div>
        <div class="row d-flex align-items-center contact_inf_wrap">
          <div class="col-lg-7 col-md-7 col-12  contact_content ">
            <div class="col-lg-4 col-md-4 col-12 d-flex justify-content-center contact_title"><h3>聯絡資訊</h3></div>
            <ul>
              <li>
                <a  class="d-flex align-items-center" href="https://goo.gl/maps/LF6wbPWBgiGzKxWz9" target="_blank" rel="noopener noreferrer">
                  <div><img src="../assets/imges/contact/contact-icon1-place.svg" alt="placeicon" class="icon place_icon"></div>
                  <div><p>235新北市中和區中山路三段37巷34號14樓(元氣大鎮內)</p></div>
                </a>
              </li>
              <li>
                <a class="d-flex align-items-center" href="mailto:willy@Geo3DEarth.com.tw" target="_blank" rel="noopener noreferrer">
                  <div><img src="../assets/imges/contact/contact-icon2-email.svg" alt="emailicon" class="icon email_icon"></div>
                  <div><p>willy@Geo3DEarth.com.tw</p></div>
                </a>
              </li>
              <li>
                <a class="d-flex align-items-center" href="tel:+886-2-22230040" target="_blank" rel="noopener noreferrer">
                  <div><img src="../assets/imges/contact/contact-icon3-phone.svg" alt="phoneicon" class="icon phone_icon"></div>
                  <div><p>(02)2223-0040</p></div>
                </a>
              </li>
              <li>
                <a class="d-flex align-items-center" href="tel:+886-2-22230040" target="_blank" rel="noopener noreferrer">
                  <div><img src="../assets/imges/contact/contact-icon3-fax.svg" alt="phoneicon" class="icon fax_icon"></div>
                  <div><p>(02)2223-1522</p></div>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-5 col-md-5 col-12 contact_img">
            <img src="../assets/imges/contact/contact1.svg" alt="contact_img">
          </div>
        </div>
      </div>
    </div>
    <footer id="footer" style="width:100%;">
      <div class="row  footer_top" style="width:100%;margin:0px;">
        <div class="col-lg-6 col-xs-12 col-md-7 col-12 footer_logo_wrapper">
          <div class="row d-flex ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 loge_block">
              <a  href="../" target="_blank" rel="noopener noreferrer">
                <img class="loge" src="../assets/imges_all/geo3dearth_logo1.png" alt="geo3dearthlogo" >
                <p class="text-center  loge_text">數位地球</p>
              </a>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-12 icon_block">
              <div id="twcaseal" class="SMALL">
                  <img src="../assets/imges_all/SMALL.gif" />
              </div>
              <script type="text/javascript" charset="utf-8" >var twca_cn="ssl.url.com.tw";</script>
              <script type="text/javascript" src="../js/twcaseal_v3.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
        <ul class="col-lg-2 col-xs-12  col-md-5 d-flex footer_icon_wraper">
          <li><a href="https://goo.gl/maps/LF6wbPWBgiGzKxWz9" target="_blank" rel="noopener noreferrer"><img src="../assets/imges_all/place_icon.svg" alt="placeicon" class="icon place_icon"></a></li>
          <li><a href="tel:+886-2-22230040" target="_blank" rel="noopener noreferrer"><img src="../assets/imges_all/phone_icon.svg" alt="phoneicon" class="icon phone_icon"></a></li>
        </ul>
      </div>
      <div class="row footer_bottom" style="width:100%;margin:0px;">
        <div class="col-lg-8 col-md-7 col-sm-12 copyright_wrap "><p>Copyright ©Geo3DEarth Systems Co., Ltd.</p></div>
        <div class="col-lg-4 col-md-5 col-sm-12 d-flex  footer_link">
          <a class="nav_li" href="../view/Privacy.html" target="_blank" rel="noopener noreferrer">privacy</a><span>|</span>
          <a class="nav_li" href="../view/Sitmap.html" target="_blank" rel="noopener noreferrer">sitmap</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
    <script type="text/JavaScript" src="../js/jscript.js" ></script>
  </body>
</html>

