<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="../assets/earth-globe_icon.ico" />
    <link rel="stylesheet" href="../assets/scss/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/freetrial.css">
    <title>數位地球科技有限公司 | 試用軟體申請</title>
  </head>
  <body >
    <div class="header ">
      <div class="row d-flex">
        <a class="col-7 col-md-5 align-self-end  p-0" href="../" target="_self" rel="noopener noreferrer">
          <img src="../assets/imges_all/geo3dearth_logo.png" alt="geo3dearthlogo" class="loge-1">
        </a>
        <nav class="col-5 col-md-7 d-flex justify-content-end nav">
          <div class="menu_web_block">
            <div class="menu_box">
              <div class="dropdown menucontent">
                <a class="dropdown-toggle"  data-bs-toggle="dropdown" aria-expanded="false">
                  <p>產品<br/><span class="toggle-en">Products</span></p>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../view/Products.html" target="_self" rel="noopener noreferrer"><p>Skyline臺灣總代理</p></a></li>
                  <li><a class="dropdown-item" href="../view/FreeTrial.html" target="_self" rel="noopener noreferrer"><p>試用軟體申請</p></a></li>
                  <li><a class="dropdown-item" href="../view/SkylineDownload.html" target="_self" rel="noopener noreferrer"><p>試用軟體下載</p></a></li>
                </ul>
              </div>
              <div class="dropdown menucontent">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <p>成果案例<br/><span class="toggle-en">Protfolio</span></p>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../view/ProtfolioTopFive.html" target="_self" rel="noopener noreferrer"><p>TOP5專案案例</p></a></li>
                </ul>
              </div>
              <div class="dropdown menucontent">
                <a class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <p>關於我們<br/><span class="toggle-en">About US</span></p>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../view/About.html" target="_self" rel="noopener noreferrer"><p>數位地球介紹</p></a></li>
                  <li><a class="dropdown-item" href="../view/Contact.html" target="_self" rel="noopener noreferrer"><p>聯絡我們</p></a></li>
                </ul>
              </div>
            </div>
            <button type="button" class="btn_close">X</button>
            <div class="modal-backdrop "></div>
          </div>
          <div class="menu_moblie_block">
            <img src="../assets/imges_all/menu_icon.svg" alt="menu_icon">
          </div>
        </nav>
      </div>
    </div>
    <div id="freetrial_view" class="row main_container" style="overflow-x: hidden;width:100%;margin:0px;">
      <div class="container-xl  space_v space_s_h">
        <div class="row header_container header_container_style top_container">
          <div  id="skylineitemone_view"  class="col-12  desc_wrap">
            <div class="col-12 caption_block_g caption_block">
              <div class="col-12">
                <h2 class="caption_title" >Skyline 軟體下載、試用</h2>
                <p>數位地球科技有限公司為Skyline台灣地區總代理，提供SkylineGlobe相關的技術支援與服務，協助您可免費進行下載申請軟體試用，您可於試用期間盡情享受SkylineGlobe帶來的創新服務。</p>
              </div>
              <div  class=" d-flex justify-content-end">
                <a href="SkylineDownload.html" target="_self" rel="noopener noreferrer">
                  <button class="btn_primary">
                    <h4>軟體下載</h4>
                    <img class="btn_icon" src="../assets/imges_all/Keyboard arrow right.svg" alt="btn_icon">
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div  class="row  bottom_container">
          <div class="col-12">
            <div class="row">
              <div id="skylineitemtwoView" class="col-xl-2 col-sm-2 col-12" >
                <div class="caption_block">
                  <div class="d-flex  content_caption  ">
                    <div class="caption_title"><h2><div>軟</div><div>體</div><div>試</div><div>用</div></h2></div>
                    <div class="changeicon_wrap2">
                      <a href="SkylineDownload.html" target="_self" rel="noopener noreferrer">
                       <img id="right_icon" src="../assets/imges/freetrial/Arrow right.svg" alt="arrowright_icon">
                      </a>
                      <img src="../assets/imges/freetrial/Download.svg" alt="download_icon">
                      <a href="SkylineDownload.html" target="_self" rel="noopener noreferrer">
                        <img id="left_icon" src="../assets/imges/freetrial/Arrow right.svg" alt="arrowleft_icon">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-10 col-sm-10 col-12 software_wrap">
                <div class=" software_top">
                  <h3 class="software_title">試用申請</h3>
                  <p>請完成簡單申請的4步驟，將可<span>免費</span>獲得試用Skyline 軟體服務。</p>
                  <p class="smail_note">軟體試用預可使用的期限與產品，則由 <span>Skyline Software Systems Inc</span> 核定。</p>
                </div>
                <div class="software_bottom">
                  <div id="freetrialItemone_view" >
                    <div class="step_wrap">
                      <div class="step_block">
                        <div class="d-flex col-xl-5 col-lg-6 col-md-9 col-12 head_block">
                          <div class="step_title_item">
                            <h5 class="step_title">STEP1</h5>
                          </div>
                          <div>
                            <h5>下載 機碼產生器 與 申請書</h5>
                          </div>
                        </div>
                        <div class="d-flex flex-column content_block">
                          <div class="col-12 content_item">
                            <p>點下右下角進行檔案下載，在試用版軟體的授權檔(lic檔)依據電腦機碼所產生，故無法進行共用。</p>
                          </div>
                          <div class="d-flex justify-content-end">
                            <a href="../assets/imges/freetrial/Trial_License_2020.zip" target="_blank" rel="noopener noreferrer">
                              <button class="col-xl-12 col-md-12 col-12 btn_primary">
                                <h4>檔案下載</h4>
                                <img class="btn_icon" src="../assets/imges/skylinedownload/download_icon_img.svg" alt="btn_icon">
                              </button>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="step_block">
                        <div class="d-flex col-xl-4 col-lg-5 col-md-7 col-12 head_block">
                          <div class="step_title_item">
                            <h5 class="step_title">STEP2</h5>
                          </div>
                          <div>
                            <h5>執行 機碼產生器</h5>
                          </div>
                        </div>
                        <div class="content_block">
                          <div class="content_item col-xl-8 col-md-12 col-12 ">
                            <p style="word-break: break-all;">開啟並執行檔案中的 LicenseRegistration.exe 產生機碼，並點擊複製到剪貼簿 文字。(如圖所示)</p>
                            <br/>
                            <p>可先行將複製機碼存入於文書工具中，方便確認檢視完整機碼。</p>
                          </div>
                          <div class="col-xl-4 col-md-12  col-12 img_item">
                            <img class="smailImg item_img" class="item_img" src="../assets/imges/freetrial/freetrial1.png" alt="step_img">
                          </div>
                        </div>
                      </div>
                      <div class="step_block">
                        <div class="d-flex col-xl-4 col-lg-5 col-md-7 col-12 head_block">
                          <div class="step_title_item">
                            <h5 class="step_title">STEP3</h5>
                          </div>
                          <div>
                            <h5>填寫試用版申請書</h5>
                          </div>
                        </div>
                        <div class="content_block">
                          <div class="content_item col-xl-8 col-md-12 col-12  ">
                            <p>請列印完整試用版申請書.pdf後，於申請書的註解處填寫日期、單位名稱、地區與簽名，並清楚註明您的聯絡方式與欲申請軟體。</p>
                            <p>最後請於最末頁填寫完整機碼。</p>
                          </div>
                          <div class="col-xl-4 col-md-12  col-12  img_item">
                            <img class="smailImg item_img" class="item_img" src="../assets/imges/freetrial/freetrial2.jpg" alt="step_img">
                          </div>
                        </div>
                      </div>
                      <div class="step_block">
                        <div class="d-flex col-xl-3 col-md-6 col-lg-4 col-12 head_block">
                          <div class="step_title_item">
                            <h5 class="step_title">STEP4</h5>
                          </div>
                          <div>
                            <h5>寄送申請書</h5>
                          </div>
                        </div>
                        <div class=" content_block flex-column">
                          <div class="content_item  col-12 ">
                            <p>請將已填寫完畢的軟體試用版申請書，以郵寄或E-mail發送方式提供給我們，將為您安排使用相關的Skyline 軟體服務。</p>
                          </div>
                          <div class="row d-flex align-items-center contact_inf_wrap">
                            <div class="col-md-12 contact_content ">
                              <div class="col-xl-3 col-lg-4 col-md-5 col-12 d-flex justify-content-center contact_title"><h4>聯絡資訊</h4></div>
                              <ul>
                                <li>
                                  <a  class="d-flex align-items-center" href="https://goo.gl/maps/LF6wbPWBgiGzKxWz9" target="_blank" rel="noopener noreferrer">
                                    <div><img src="../assets/imges/freetrial/contact-icon1-place-primary.svg" alt="placeicon" class="icon place_icon"></div>
                                    <div><p>235新北市中和區中山路三段37巷34號14樓(元氣大鎮內)</p></div>
                                  </a>
                                </li>
                                <li>
                                  <a class="d-flex align-items-center" href="mailto:willy@Geo3DEarth.com.tw" target="_blank" rel="noopener noreferrer">
                                    <div><img src="../assets/imges/freetrial/contact-icon1-email-pramiry.svg" alt="emailicon" class="icon email_icon"></div>
                                    <p>willy@Geo3DEarth.com.tw</p>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer" style="width:100%;">
      <div class="row  footer_top" style="width:100%;margin:0px;">
        <div class="col-lg-6 col-xs-12 col-md-7 col-12 footer_logo_wrapper">
          <div class="row d-flex ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 loge_block">
              <a  href="../" target="_blank" rel="noopener noreferrer">
                <img class="loge" src="../assets/imges_all/geo3dearth_logo1.png" alt="geo3dearthlogo" >
                <p class="text-center">數位地球</p>
              </a>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-12 icon_block">
              <div id="twcaseal" class="SMALL">
                  <img src="../assets/imges_all/SMALL.gif" />
              </div>
              <script type="text/javascript" charset="utf-8" >var twca_cn="ssl.url.com.tw";</script>
              <script type="text/javascript" src="../js/twcaseal_v3.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
        <ul class="col-lg-2 col-xs-12  col-md-5 d-flex footer_icon_wraper">
          <li><a href="https://goo.gl/maps/LF6wbPWBgiGzKxWz9" target="_blank" rel="noopener noreferrer"><img src="../assets/imges_all/place_icon.svg" alt="placeicon" class="icon place_icon"></a></li>
          <li><a href="tel:+886-2-22230040" target="_blank" rel="noopener noreferrer"><img src="../assets/imges_all/phone_icon.svg" alt="phoneicon" class="icon phone_icon"></a></li>
        </ul>
      </div>
      <div class="row footer_bottom" style="width:100%;margin:0px;">
        <div class="col-lg-8 col-md-7 col-sm-12 copyright_wrap "><p>Copyright ©Geo3DEarth Systems Co., Ltd.</p></div>
        <div class="col-lg-4 col-md-5 col-sm-12 d-flex  footer_link">
          <a class="nav_li" href="../view/Privacy.html" target="_blank" rel="noopener noreferrer">privacy</a><span>|</span>
          <a class="nav_li" href="../view/Sitmap.html" target="_blank" rel="noopener noreferrer">sitmap</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
    <script type="text/JavaScript" src="../js/jscript.js" ></script>
    <script>
      let smailImg = document.querySelectorAll(".smailImg");
      let footer =document.getElementById("footer");
   
      let newcover = document.createElement("div");
      var bigImg = document.createElement("img");
      footer.before(newcover);
      footer.before(bigImg);

      for (i = 0; i < smailImg.length ; i++) {
          smailImg[i].addEventListener("click",function(){
          bigImg.setAttribute("class","magnifyingImg");
          bigImg.src=this.src;
          bigImg.style="display:block";
          newcover.setAttribute("class","cover");
          })
      }

      window.onclick = function(event) {
        if (event.target == newcover) {
          newcover.classList.remove('cover');
          bigImg.style="display:none";
        }
      }
    </script>
  </body>
</html>