<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="../assets/earth-globe_icon.ico" />
    <link rel="stylesheet" href="../assets/scss/css/bootstrap.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/protfolio.css">
    <title>數位地球科技有限公司 | TOP5專案案例</title>
  </head>
  <body>
    <div class="header ">
      <div class="row d-flex">
        <a class="col-7 col-md-5 align-self-end  p-0" href="./" target="_self" rel="noopener noreferrer">
          <img src="../assets/imges_all/geo3dearth_logo.png" alt="geo3dearthlogo" class="loge-1">
        </a>
        <nav class="col-5 col-md-7 d-flex justify-content-end nav">
          <div class="menu_web_block">
            <div class="menu_box">
              <div class="dropdown menucontent">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <p>產品<br/><span class="toggle-en">Products</span></p>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../view/Products.html" target="_self" rel="noopener noreferrer"><p>Skyline臺灣總代理</p></a></li>
                  <li><a class="dropdown-item" href="../view/FreeTrial.html" target="_self" rel="noopener noreferrer"><p>試用軟體申請</p></a></li>
                  <li><a class="dropdown-item" href="../view/SkylineDownload.html" target="_self" rel="noopener noreferrer"><p>試用軟體下載</p></a></li>
                </ul>
              </div>
              <div class="dropdown menucontent">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <p>成果案例<br/><span class="toggle-en">Protfolio</span></p>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="view/ProtfolioTopFive.html" target="_self" rel="noopener noreferrer"><p>TOP5專案案例</p></a></li>
                </ul>
              </div>
              <div class="dropdown menucontent">
                <a class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <p>關於我們<br/><span class="toggle-en">About US</span></p>
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../view/About.html" target="_self" rel="noopener noreferrer"><p>數位地球介紹</p></a></li>
                  <li><a class="dropdown-item" href="../view/Contact.html" target="_self" rel="noopener noreferrer"><p>聯絡我們</p></a></li>
                </ul>
              </div>
            </div>
            <button type="button" class="btn_close">X</button>
            <div class="modal-backdrop "></div>
          </div>
          <div class="menu_moblie_block">
            <img src="assets/imges_all/menu_icon.svg" alt="menu_icon">
          </div>
        </nav>
      </div>
    </div>
    <div   class="header_container protfolio_view" style="overflow-y: hidden;">
      <div  class="container-xl space_s_h space_v ">
        <div class="">
          <div class="row top_caption">
            <div class="col-xl-6 col-lg-6 col-md-6 col-12">
              <h3 class="caption_title">TOP5 專案</h3>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-12  d-flex justify-content-end align-items-end changeicon_wrap">
              <img class="left-icon" src="../assets/imges/home/Arrow right-white.svg" alt="">
              <img class="right-icon" src="../assets/imges/home/Arrow right-white.svg" alt="">
            </div>
          </div>
          <div class="card_container">
            <div  class="row  card_wrap">
              <div class="col-xl-4 col-lg-4 col-md-5 col-12 card_block">
                <a href="#box1" target="_self" rel="noopener noreferrer">
                  <div class="content_haeder">
                    <div class="img_block">
                      <img alt="terraexplorerapp_img" src="../assets/imges/protfoliotopfive/protfolio_card1.png">
                    </div>
                  </div>
                  <div class="content_bottom">
                    <div class="caption_block ">
                      <div >
                        <h4 class="caption_title">陽明山國家公園3D導覽</h4>
                      </div>
                      <div class="caption_content">
                        <p>以3D立體影像呈現陽明山國家公園的風貌，提供各式導覽功能:景點、生態及服務站點等介紹。</p>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-5 col-12 card_block">
                <a href="#box2" target="_self" rel="noopener noreferrer">
                  <div class="content_haeder">
                    <div class="img_block">
                      <img alt="terraexplorerapp_img" src="../assets/imges/protfoliotopfive/protfolio_card2.png">
                    </div>
                  </div>
                  <div class="content_bottom">
                    <div class="caption_block">
                      <div >
                        <h4 class="caption_title">高雄港三維地理資訊系統</h4>
                      </div>
                      <p>可觀測高雄港地理資訊如 : 水準點、潮位站及船席等港口資料，並包含港灣的水深量測，提供多元的運用。</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-5 col-12 card_block">
                <a href="#box3" target="_self" rel="noopener noreferrer">
                  <div class="content_haeder">
                    <div class="img_block">
                      <img alt="terraexplorerapp_img" src="../assets/imges/protfoliotopfive/protfolio_card3.png">
                    </div>
                  </div>
                  <div class="content_bottom">
                    <div class="caption_block">
                      <div >
                        <h4 class="caption_title">海洋深層水展示平台</h4>
                      </div>
                      <p>串接水模廠相關資訊，運用於管理海洋深層水模廠。</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-5 col-12 card_block">
                <a href="#box4" target="_self" rel="noopener noreferrer">
                  <div class="content_haeder">
                    <div class="img_block">
                      <img alt="terraexplorerapp_img" src="../assets/imges/protfoliotopfive/protfolio_card4.png">
                    </div>
                  </div>
                  <div class="content_bottom">
                    <div class="caption_block">
                      <div>
                        <h4  class="caption_title">原住民族地溫泉資訊系統</h4>
                      </div>
                      <p>原住民族地區溫泉計畫推動資訊系統，提供原主民族地區內溫泉景點進行圖層設定與圖資查詢等資訊服務。</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-5 col-12 card_block">
                <a href="#box5" target="_self" rel="noopener noreferrer">
                  <div class="content_haeder">
                    <div class="img_block">
                      <img alt="terraexplorerapp_img" src="../assets/imges/protfoliotopfive/protfolio_card5.png">
                    </div>
                  </div>
                  <div class="content_bottom">
                    <div class="caption_block">
                      <div >
                        <h4 class="caption_title">防救災資源管理系統</h4>
                      </div>
                      <p>作為救災資源管理，具備二為淹水預報模組，可為災害做預先觀測與預報。</p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box_container">
        <div class="container-xl  space_s_h ">
          <div class="space_v row box_wrap">
            <div class="col-12 box_block ">
              <a class="row link" name="box1" href="https://3dmap.ymsnp.gov.tw/map/index.aspx" target="_blank" rel="noopener noreferrer">
                <div class="col-xl-6 col-md-6 col-12 box_content">
                  <span>陽明山國家公園管理處</span>
                  <h3 class="contnet_text">陽明山國家公園3D導覽</h3>
                  <p class="content_word">陽明山國家公園前身為臺灣日治時期成立之大屯國立公園（1937-1945），目前由內政部營建署管轄為第三個國家公園。坐落於臺北都會區近郊，鄰近臺北市北投區、士林區，新北市的萬里區、金山區、石門區、三芝區、淡水區一帶。透過陽明山國家公園3D導覽平台可立體呈現壯觀景致的陽明山風景樣貌，透過立體環視影像可立即查找陽明山國家公園內的特色景點，平台提供豐富的導覽解說，提供給您多元的遊覽服務。</p>
                </div>
                <div class="col-xl-6 col-md-6 col-12">
                  <img alt="terraexplorerapp_img" src="../assets/imges/protfoliotopfive/ymsnp-pc.png">
                </div>
              </a>  
            </div>
            <div class="col-12 box_block">
              <a class="row" name="box2" target="_blank" rel="noopener noreferrer">
                <div class="col-xl-6 col-md-6 col-12 box_content">
                  <img alt="terraexplorerapp_img" src="../assets/imges/protfoliotopfive/ksport-pc.png">
                </div>
                <div class="col-xl-6 col-md-6 col-12">
                  <span>交通部運研所港研中心</span>
                  <h3 class="contnet_text">高雄港三維地理資訊系統</h3>
                  <p class="content_word">可觀測高雄港地理資訊如 : 水準點、潮位站、港船行道路線、船席等港口資料，並包含港灣的水深量測，提供多元的運用。</p>
                </p>
                </div>
              </a>  
            </div>
            <div class="col-12 box_block">
              <a class="row" name="box3" target="_blank" rel="noopener noreferrer">
                <div class="col-xl-6 col-md-6  col-12 box_content">
                  <span>經濟部水利署</span>
                  <h3 class="contnet_text">海洋深層水展示平台</h3>
                  <p class="content_word">海洋深層水具備低溫性、品質穩定及潔淨，全球具備開採的區域有美國夏威夷、韓國、日本和臺灣，海洋深層水應用於保養品、保健食品及溫差發電等，系統展示平台運用水模廠相關資訊的串接，將使用於管理海洋深層水模廠。</p>
                </div>
                <div class="col-xl-6 col-md-6 col-12">
                  <img alt="terraexplorerapp_img" src="../assets/imges/protfoliotopfive/oceanwater-pc.png">
                </div>
              </a>  
            </div>
            <div class="col-12 box_block">
              <a class="row" name="box4"  target="_blank" rel="noopener noreferrer">
                <div class="col-xl-6 col-md-6 col-12 box_content">
                  <img alt="terraexplorerapp_img" src="../assets/imges/protfoliotopfive/apc-pc.png">
                </div>
                <div class="col-xl-6 col-md-6 col-12">
                  <span>行政院原住民委員會</span>
                  <h3 class="contnet_text">原住民族地區溫泉資訊系統</h3>
                  <p class="content_word">提供原主民族地區內的溫泉景點，可於資訊系統平台操作地圖上涵蓋的原主民族地區溫泉地點，使用者能進行圖層設定與圖資查詢等資訊服務，提供用於管理全台灣原住民保留地事務。</p>
                </div>
              </a>  
            </div>
            <div class="col-12 box_block">
              <a class="row" name="box5"  target="_blank" rel="noopener noreferrer">
                <div class="col-xl-6 col-md-6  col-12 box_content">
                  <span>防救災資源管理系統</span>
                  <h3 class="contnet_text">防救災資源管理系統</h3>
                  <p class="content_word">臺灣氣候地形多變，災害的發生常無預警的到來，在突發災害來襲前需時常保有防範未然的心態，防救災資源管理系統作為救災資源管理，此系統具備二為淹水預報模組，可為災害做預先觀測與預報。</p>
                </div>
                <div class="col-xl-6 col-md-6 col-12">
                  <img alt="terraexplorerapp_img" src="../assets/imges/protfoliotopfive/tlk-pc.png">
                </div>
              </a>  
            </div>
          </div>
        </div>
        <div class="decorate_r">
          <img src="../assets/imges/protfoliotopfive/protfolio_Ellipse1.png" alt="">
        </div>
        <div class="decorate_l">
          <img src="../assets/imges/protfoliotopfive/protfolio_Ellipse2.png" alt="">
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="row  footer_top">
        <div class="col-lg-6 col-xs-12 col-md-7 col-12 footer_logo_wrapper">
          <div class="row d-flex ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 loge_block">
              <a  href="../" target="_blank" rel="noopener noreferrer">
                <img class="loge" src="../assets/imges_all/geo3dearth_logo1.png" alt="geo3dearthlogo" >
                <p>數位地球</p>
              </a>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-12 icon_block">
              <div id="twcaseal" class="SMALL">
                  <img src="../assets/imges_all/SMALL.gif" />
              </div>
              <script type="text/javascript" charset="utf-8" >var twca_cn="ssl.url.com.tw";</script>
              <script type="text/javascript" src="../js/twcaseal_v3.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
        <ul class="col-lg-2 col-xs-12  col-md-5 d-flex footer_icon_wraper">
          <li><a href="https://goo.gl/maps/LF6wbPWBgiGzKxWz9" target="_blank" rel="noopener noreferrer"><img src="../assets/imges_all/place_icon.svg" alt="placeicon" class="icon place_icon"></a></li>
          <li><a href="tel:+886-2-22230040" target="_blank" rel="noopener noreferrer"><img src="../assets/imges_all/phone_icon.svg" alt="phoneicon" class="icon phone_icon"></a></li>
        </ul>
      </div>
      <div class="row footer_bottom ">
        <div class="col-lg-8 col-md-7 col-sm-12 copyright_wrap "><p>Copyright ©Geo3DEarth Systems Co., Ltd.</p></div>
        <div class="col-lg-4 col-md-5 col-sm-12 d-flex  footer_link">
          <a class="nav_li" href="../view/Privacy.html" target="_blank" rel="noopener noreferrer">privacy</a><span>|</span>
          <a class="nav_li" href="../view/Sitmap.html" target="_blank" rel="noopener noreferrer">sitmap</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.bundle.min.js"></script>
    <script type="text/JavaScript" src="../js/jscript.js" ></script>
    <script>
      const nextbtn = document.querySelector(".right-icon");
      const prebtn = document.querySelector(".left-icon");
      const cardBox = document.querySelector(".card_container");

      nextbtn.addEventListener("click",function(){
        if(cardBox.clientWidth < 900){
          cardBox.style.right="110%";
          cardBox.style.transition=" all  0.2s ease";
        }
        else if ( cardBox.clientWidth < 1024 && cardBox.clientWidth > 900 ){
          cardBox.style.right="70%";
        }
        else if ( cardBox.clientWidth < 1920 && cardBox.clientWidth > 1280){
          cardBox.style.right="50%";
        }
        else{
          cardBox.style.right="68%";
        }
      })

      prebtn.addEventListener("click",function(){
          cardBox.style.right="0%";
          cardBox.style.transition=" all  0.2s ease";
      })



      // moblie
      const cardContainer = document.querySelector(".card_container");
      const boxContainer = document.querySelector(".box_container");
      const boxBlock = document.querySelector(".box_wrap .box_block")


      if(cardContainer.clientWidth < 580){
        cardContainer.style.display="none";
        boxContainer.style.margin="0em";
        boxBlock.style.margin="0em"
      }
      

 
    </script>
  </body>
</html>