<!DOCTYPE html>
<html lang="zh-hant">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0 , maximum-scale=1,user-scalable=no">
      <link rel="shortcut icon" href="../assets/earth-globe_icon.ico" />
      <link rel="stylesheet" href="../assets/scss/css/bootstrap.css">
      <link rel="stylesheet" href="../assets/css/main.css">
      <link rel="stylesheet" href="../assets/css/skylinedownload.css">
      <title>數位地球科技有限公司 | Skyline下載</title>
  </head>
  <body >
    <div class="header ">
      <div class="row d-flex">
        <a class="col-7 col-md-5 align-self-end  " href="../" target="_self" rel="noopener noreferrer">
          <img src="../assets/imges_all/geo3dearth_logo.png" alt="geo3dearthlogo" class="loge-1">
        </a>
        <nav class="col-5 col-md-7 d-flex justify-content-end nav">
          <div class="menu_web_block">
            <div class="menu_box ">
              <div class="dropdown menucontent">
                <div class="dropdown_wrap">
                  <a id="productsLink" class="nav_li" >
                    <p>產品<br/><span>Products</span></p>
                  </a>
                  <ul id="productsMenu" class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../view/Products.html" target="_self" rel="noopener noreferrer"><p>Skyline臺灣總代理</p></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../view/FreeTrial.html" target="_self" rel="noopener noreferrer"><p>試用軟體申請</p></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../view/SkylineDownload.html" target="_self" rel="noopener noreferrer"><p>試用軟體下載</p></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="dropdown menucontent">
                <div class="dropdown_wrap">
                  <a id="protfolioLink" class=" nav_li" type="button" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p>成果案例<br/><span>Protfolio</span></p>
                  </a>
                  <ul id="protfolioMenu" class="dropdown-menu">
                    <li >
                      <a class="dropdown-item" href="../view/ProtfolioTopFive.html" target="_self" rel="noopener noreferrer"><p>TOP5專案案例</p></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="dropdown menucontent">
                <div class="dropdown_wrap">
                  <a id="aboutusLink" class="nav_li" type="button" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <p>關於我們<br/><span>About US</span></p>
                  </a>
                  <ul id="aboutusMenu" class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="../view/About.html" target="_self" rel="noopener noreferrer"><p>數位地球介紹</p></a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="../view/Contact.html" target="_self" rel="noopener noreferrer"><p>聯絡我們</p></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <button type="button" class="btn_close">X</button>
            <div class="modal-backdrop "></div>
          </div>
          <div class="menu_moblie_block">
            <img src="../assets/imges_all/menu_icon.svg" alt="menu_icon">
          </div>
        </nav>
      </div>
    </div>
    <div id="SkylineDownloadView_view" class="row main_container">
      <div class="container-xl  space_v space_s_h">
        <div class="row header_container header_container_style top_container">
          <div  id="skylineitemone_view"  class="col-12  desc_wrap">
            <div class="col-12 caption_block_g caption_block">
              <div class="col-12">
                <h2 class="caption_title">Skyline 軟體下載、試用</h2>
                <p>數位地球科技有限公司為Skyline台灣地區總代理，提供SkylineGlobe相關的技術支援與服務，協助您可免費進行下載申請軟體試用，您可於試用期間盡情享受SkylineGlobe帶來的創新服務。</p>
              </div>
              <div  class=" d-flex justify-content-end">
                <a  href="freetrial.html" target="_self" rel="noopener noreferrer">
                  <button class="btn_primary">
                    <h4>軟體試用</h4>
                    <img class="btn_icon" src="../assets/imges_all/Keyboard arrow right.svg" alt="btn_icon">
                  </button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div  class="row  bottom_container">
          <div class="col-12">
            <div class="row">
              <div id="skylineitemtwoView" class="col-xl-2 col-md-2 col-12" >
                <div class="caption_block ">
                  <div class="d-flex content_caption">
                    <div class="caption_title"><h2><div>軟</div><div>體</div><div>下</div><div>載</div></h2></div>
                    <div class="changeicon_wrap2">
                      <a href="FreeTrial.html" target="_self" rel="noopener noreferrer">
                        <img id="right_icon" src="../assets/imges/freetrial/Arrow right.svg" alt="arrowright_icon">
                      </a>
                      <img src="../assets/imges/freetrial/Folder.svg" alt="freetrial_icon">
                      <a href="FreeTrial.html" target="_self" rel="noopener noreferrer">
                        <img id="left_icon" src="../assets/imges/freetrial/Arrow right.svg" alt="arrowleft_icon">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-10 col-md-10 col-12  software_wrap">
                  <div class=" software_top">
                    <h3 class="software_title">軟體下載</h3>
                    <p>提供您 TerraExplorer APP 、TerraExplorer Pro 軟體服務,依照您的作業系統選擇下載項目。</p>
                  </div>
                  <div class="row col-12 software_bottom">
                    <div class="row download_wrap">
                      <div id="downloadltemone_view" class="col-xl-5 col-lg-6 col-md-6 col-12">
                        <div class="content_item">
                          <h3 class="content_title">TerraExplorer APP</h3>
                        </div>
                        <div class="content_haeder">
                          <div class="line_style">
                            <img alt="terraexplorerapp_img" src="../assets/imges/skylinedownload/terraexplorerapp_download.png">
                          </div>
                        </div>
                        <div class="content_bottom">
                          <div class="caption_block">
                            <div class="caption_title"><p>英文版</p></div>
                          </div>
                          <ul class="dowload_link_block">
                              <li>
                                <a href="https://play.google.com/store/apps/details?id=com.skyline.terraexplorer&hl=tc" target="_self" rel="noopener noreferrer">
                                  Android  v2.0.1
                                </a>
                              </li>
                            <li>
                              <a href="https://itunes.apple.com/tw/app/terraexplorer/id722233115?mt=8" target="_self" rel="noopener noreferrer">IOS  v2.0.2</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div id="downloadltemone_view" class="col-xl-5 col-lg-6 col-md-6 col-12">
                        <div class="content_item">
                          <h3 class="content_title">TerraExplorer Pro</h3>
                        </div>
                        <div class="content_haeder">
                          <div class="line_style">
                            <img alt="terraexplorerapp_img" src="../assets/imges/skylinedownload/terraexplorerpro_download.png">
                          </div>
                        </div>
                        <div class="content_bottom">
                          <div>
                            <div class="caption_block">
                              <div class="caption_title"><p>繁體中文版</p></div>
                            </div>
                            <ul class="dowload_link_block">
                              <li>
                                <a href="https://cloud.skylineglobe.com/SGCloud/Downloads/TE_TraditionalChinese_741.zip" target="_self" rel="noopener noreferrer">v7.4.1</a>
                              </li>
                            </ul>
                          </div>
                          <div>
                            <div class="caption_block">
                              <div class="caption_title"><p>英文版</p></div>
                            </div>
                            <ul class="dowload_link_block">
                              <li>
                                <a href="https://cloud.skylineglobe.com/SGCloud/Downloads/TEPro.zip" target="_self" rel="noopener noreferrer">v7.4.1</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer id="footer">
      <div class="row  footer_top">
        <div class="col-lg-6 col-xs-12 col-md-7 col-12 footer_logo_wrapper">
          <div class="row d-flex ">
            <div class="col-lg-6 col-md-6 col-sm-6 col-12 col-xs-12 loge_block">
              <a  href="../" target="_blank" rel="noopener noreferrer">
                <img class="loge" src="../assets/imges_all/geo3dearth_logo1.png" alt="geo3dearthlogo" >
                <p>數位地球</p>
              </a>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6 col-12 icon_block">
              <div id="twcaseal" class="SMALL">
                  <img src="../assets/imges_all/SMALL.gif" />
              </div>
              <script type="text/javascript" charset="utf-8" >var twca_cn="ssl.url.com.tw";</script>
              <script type="text/javascript" src="../js/twcaseal_v3.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
        <ul class="col-lg-2 col-xs-12  col-md-5 d-flex footer_icon_wraper">
          <li><a href="https://goo.gl/maps/LF6wbPWBgiGzKxWz9" target="_blank" rel="noopener noreferrer"><img src="../assets/imges_all/place_icon.svg" alt="placeicon" class="icon place_icon"></a></li>
          <li><a href="tel:+886-2-22230040" target="_blank" rel="noopener noreferrer"><img src="../assets/imges_all/phone_icon.svg" alt="phoneicon" class="icon phone_icon"></a></li>
        </ul>
      </div>
      <div class="row footer_bottom ">
        <div class="col-lg-8 col-md-7 col-sm-12 copyright_wrap "><p>Copyright ©Geo3DEarth Systems Co., Ltd.</p></div>
        <div class="col-lg-4 col-md-5 col-sm-12 d-flex  footer_link">
          <a class="nav_li" href="../view/Privacy.html" target="_blank" rel="noopener noreferrer">privacy</a><span>|</span>
          <a class="nav_li" href="../view/Sitmap.html" target="_blank" rel="noopener noreferrer">sitmap</a>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../js/jquery-1.7.1.min.js"></script>
    <script type="text/JavaScript" src="../js/jscript.js" ></script>
  </body>
</html>